[2016-04-25 11:50] despiegk opened #7 "build process for Arch linux & ubuntu 16.04"
- build to binary locations (build directory)
- also build the python client for python 2.7

[2016-04-25 11:51] despiegk opened #8 "build python client for python 3.5"

[2016-04-26 07:52] dejonghb commented on #7
Note: newer gcc/libboost/... imposes code changes

Build process itself has __3 major steps__:
1. install all __required dependencies__ (cfr. dockerfiles and/or https://github.com/openvstorage/volumedriver/blob/builddocs/doc/manual_building.md)
2. build __volumedriver-buildtools__ (succeeds on ubuntu 16.04)
3. build __volumedriver__ (requires code changes; code must remain buildable on centos-7 as

[2016-04-29 13:51] dejonghb commented on #7
Branches created for the changed codebase...
- on **volumedriver-buildtools**
  - *feature/archlinux* (for Dockerfile et al for Arch Linux)
  - *feature/ubu1604* (for Dockerfile et al for Ubuntu 16.04)
- on **volumedriver** use *feature/ubuntu-16.04* for both Ubuntu 16.04 & Arch Linux

[2016-05-13 08:16] despiegk commented on #7
@redlicha how much time is required to do the changes in vol driver?

[2016-05-13 09:16] saelbrec commented on #7
Builds succeed but tests are bailing out, currently it's not clear if this requires changes in the code or only in how the tests inside the docker image are being executed. First assessment is that further investigation and possible fix would require 1 or 2 days.

[2016-05-13 09:33] redlicha commented on #7
@despiegk the bulk of the required changes is present in the branches mentioned by @dejonghb . There are however failing / crashing tests in the CI builds we created for Ubuntu 16.04 and Arch Linux that prevent merging these back. A rough estimate for debugging / fixing is +/- 1 day.
@saelbrec: once these issues are sorted out there's still the question on how to support (if at all?) the two Ubunt

[2016-05-18 16:05] dejonghb commented on #7
ubuntu 16.04 branches were merged into dev branch

[2016-05-19 14:18] kinvaris opened #19 ""Could not send eof data to FOC at the other end: std::bad_alloc" during volume failover with 10ms latency."
We've got a setup with 2 datacenters, between those 2 datacenters there is 10ms latency. The DTL is configured across the datacenters. This would mean if 1 DC fails, the other one should take over.

While performing the test (shutting down one compute node in DC2) we experienced these issue's with the volumedriver during failover (in DC1):
[code]

After some digging, we see that one volume was suc

[2016-05-19 15:42] dejonghb commented on #7
everything got merged into the dev branches

[2016-05-23 08:04] wimpers opened #21 "Support for multiple volumedriver instances of the same vpool to run on the same node."
In case we would support multiple volumedriver instances of the same vpool to run on the same node, it would make things easier with regards to management of the Supervolumes. F.e. cloning or HA would be come less complex.

[2016-05-25 13:08] khenderick opened #25 "Make sure that the quorum flag is passed using etcd"
Make sure that the quorum flag is passed using etcd

[2016-05-30 12:51] redlicha opened #29 "Ensure that cluster sizes are multiples of 4KiB"
... to make Alba's life easier.

[2016-05-30 16:14] toolslive commented on #29
Alba, even when using gobjfs should be able to handle arbitrary partial reads.

[2016-05-30 16:54] redlicha commented on #29
In that case there's no need for action on the voldrv side - closing this one again.

[2016-05-30 16:54] #29 closed

[2016-05-31 09:07] wimpers commented on #25
@redlicha what is the status of this ticket? @saelbrec believes it was already fixed.

[2016-05-31 09:41] redlicha commented on #19
PR: https://github.com/openvstorage/volumedriver/pull/23

[2016-05-31 09:43] redlicha commented on #25
PR still needs review: https://github.com/openvstorage/volumedriver/pull/27

[2016-05-31 18:52] redlicha commented on #19
Fix was merged into support/5.6.x and dev branches.

[2016-05-31 18:52] redlicha commented on #25
Fix was merged into dev branch.

[2016-06-01 07:22] redlicha opened #30 "Segfault in NetworkServerTests"
Observed on jenkins:

[code]
Unfortunately the build slave was misconfigured so the core dump was not created.

[2016-06-01 07:45] redlicha commented on #30
On the host running the dockerized build
[code]

[2016-06-01 11:56] jeroenmaelbrancke opened #31 "use the standard ovs log format"
Can you please use the standard ovs log format described on the [gitbook](https://openvstorage.gitbooks.io/framework/content/docs/log.html).

The different components all log in the following format:
[code]
Where
[code]
Example:
[code]

[2016-06-01 14:11] redlicha commented on #31
PR #32

[2016-06-01 14:56] redlicha commented on #31
Merged into dev branch. Cf. the PR for an example log message.

[2016-06-02 06:45] redlicha opened #33 "Volume restart from backend with MDS failback fails"
Version info:

revision: 0b5a92a0afc4abeed9c7475411142da7d0a1840e
build time: Sun May 22 23:04:22 UTC 2016

[code]

[2016-06-02 07:30] redlicha commented on #33
Issue is fixed by PR #11 and specifically 29f97a0a9c3b0ff2c84726e21f1424fda66cb887 which was merged into the dev branch a day after the above dev build was created.

[2016-06-02 10:58] redlicha commented on #33
New dev packages including the fix were uploaded to unstable.

[2016-06-02 10:58] #33 closed

[2016-06-02 10:59] redlicha commented on #25
New dev packages including the fix were uploaded to unstable.

[2016-06-02 10:59] #25 closed

[2016-06-02 10:59] redlicha commented on #31
New dev packages including this feature were uploaded to unstable

[2016-06-02 10:59] #31 closed

[2016-06-02 11:00] redlicha commented on #19
New dev packages including a fix were uploaded to unstable.

[2016-06-02 11:03] redlicha commented on #30
Segfaults were also observed in other `NetworkServerTest`s. Not reproduced anymore after 0450f33b299a72c58351d65103254ff4ca21938d and ab4810eb0449ffa590240d9f462e384644280a89 .

[2016-06-08 08:12] saelbrec opened #36 "Split volumedriver client libraries from -server and/or -base packages"
Currently one and the same package provides both volumedriver client and server which requires the server packages to be installed on controller/management nodes where you do not want to run a volumedriver.

[2016-06-08 08:35] khenderick opened #37 "Remove rollback API from python client"
While discussing openvstorage/framework#540 it turned out that doing a rollback can cause issues. We should in that case also clean up that API on the python client.

[2016-06-08 08:39] wimpers commented on #37
@redlicha would it make sense to up the 255 clone depth limit?

[2016-06-08 09:44] redlicha commented on #37
@wimpers: that's not trivially possible, as it is a design decision that was made in the very early days of volumedriver: clone information is encoded in a single byte (e.g. in the metadata of a volume stored in the MDS / SCO names in the SCO cache / ...).

[2016-06-08 14:19] redlicha opened #38 "Be more lenient with errors related to `sco_access_data`"
A `sco_access_data` object that cannot be retrieved is not crucial to a volume restart - make the code more lenient in such a case.

[2016-06-09 12:38] wimpers commented on #37
In that case leave it as is.

[2016-06-09 12:50] wimpers commented on #30
@redlicha can you please close this one or let us know if it needs to be kept open?

[2016-06-09 12:59] redlicha commented on #30
The root cause is not understood, closing it as "not reproducible".

[2016-06-09 12:59] #30 closed

[2016-06-15 10:43] redlicha commented on #36
Proposal for an overhaul of the packaging as discussed with @saelbrec and @khenderick :
* volumedriver-base: currently offers Python namespacing (__init__,py files) + the ToolCut module - the latter depends on dedup vs. no-dedup and hence currently leads to two volumedriver-base packages.
Change that to only do the namespacing.
* volumedriver-python-client: newly introduced package containing the

[2016-06-17 06:48] despiegk opened #41 "documentation about how to install/configure"
we would like to understand how to deploy the components manually
which config files
where are they, what can go in, documentation around it...
how to start them

once we have this then we want to help with some automation around setup & testing

[2016-06-17 06:48] despiegk commented on #41
I can't find the docu, its probably just me

[2016-06-17 06:49] despiegk opened #42 "edge component documentation"
there seems to be an edge volume driver component
where is it?
can't find it?
how to build?
how to deploy?

[2016-06-17 06:50] despiegk commented on #7
can we now build?
are there procedures?

[2016-06-17 09:50] wimpers commented on #37
After disussion, we will leave the functionality in

[2016-06-17 09:50] #37 closed

[2016-06-20 09:39] wimpers commented on #7
As discussed last Friday with @despiegk  Arch Linux isn't required.

[2016-06-21 11:41] wimpers commented on #19
@redlicha can this one be closed?

[2016-06-21 11:49] redlicha commented on #19
Fixed in support/5.6.x (still needs to be packaged) and the dev code, including the 6.0.0 release.

[2016-06-21 11:49] #19 closed

[2016-06-22 15:48] wimpers commented on #42
@cnanakos can you provide some input around this. Following is what we have around the edge https://openvstorage.gitbooks.io/volumedriver/content/v/d34e4c62a9c2c706f76cd3838851c3c0a17f555a/docs/edge.html

[2016-06-23 07:57] cnanakos commented on #42
* Where is it?
Edge is consisted from a client library and a server. The server is part of the volumedriver and is running as a single thread that accepts/dispatches incoming/outgoing I/O and control requests. The library can be installed and used to communicate with the Edge server over TCP/IP or RDMA.

* Can't find it
The Edge client is offered as a different package under the name libovsvolumed

[2016-06-23 15:35] redlicha commented on #8
* requires a boost python built against the desired python version - should be available on Ubuntu 16.04, to be verified
* next to that there are some direct uses of libpython for certain type conversions in the C++ code - these need to be adapted to Python 3 (mainly string types that now need to deal with unicode)
* requires updates to the build system (make python version configurable from the o

[2016-06-23 22:07] despiegk commented on #8
cool

[2016-06-24 14:47] redlicha commented on #21
This requires changing the API in a backward incompatible fashion: users of the API have to pass in cluster (vpool) and node (vrouter) identifiers so the local volumedriver to connect to can be determined.
@wimpers : is this breakage acceptable?

[2016-06-24 14:51] wimpers commented on #21
This requires changing the API in a backward incompatible fashion: users of the API have to pass in cluster (vpool) and node (vrouter) identifiers so the local volumedriver to connect to can be determined.

Open question ...
Is this breakage acceptable?

[2016-06-24 14:53] redlicha commented on #21
To elaborate: the API is not broken in an incompatible fashion, but old clients that were not updated will not be able to connect anymore.

[2016-06-27 07:33] domsj commented on #21
Do the old clients really have to break? Maybe they could connect to a randomly chosen vrouter on the specified host?
My understanding of this issue is quite limited, so I could very well be wrong, but in general I would assume you could implement some sane defaults for the missing arguments of old clients...

[2016-06-27 08:08] redlicha commented on #21
Sane defaults alone won't do, a discovery mechanism would be needed. And once support for multiple instances of *different* vpools comes in this will not work anymore, unless there is a guarantee that vrouter IDs are globally unique (which currently volumedriver does not assume to be the case, they only need to be unique per vpool).

[2016-06-27 12:39] redlicha opened #47 "Finish failovercache -> DTL rename"
There are still binaries called `failovercache` and `failovercache_helper`.

[2016-06-28 12:36] wimpers commented on #47
Assigned to Fargo as you are working on this.

[2016-06-29 08:24] redlicha opened #48 "Unaligned concurrent writes must be serialized"
So far there was implicit serialization but with the edge interface allowing parallel writes to the same volume, this scenario needs to be ruled out:

thread A: write first sector S1 of a cluster C: read C, update S1
thread B: write second sector S2 of C: read C, update S2, write C
thread A: write C => write to S2 is lost

[2016-07-01 10:19] redlicha opened #51 "Segfault when a previous fuse mount is still present"
Scenario: the volumedriver daemon is killed / crashes / ... and the FUSE mount is left around.

It's expected that the daemon fails to restart but it should exit gracefully; instead it runs into a segfault.

[2016-07-01 13:06] redlicha commented on #48
Fixed in 6.0.1 / on the dev branch.

[2016-07-01 13:06] #48 closed

[2016-07-01 13:27] redlicha opened #52 "Log message in partial read path leads to performance degradation"
There's a log message with severity `info` in the path of partial reads. If the global log level is info and local caching is not used this will cause the log to be flooded with these messages
[code]

Workaround: use log level > info or add a log filter. Both can be done dynamically via the Python API:
[code]

[2016-07-01 15:12] redlicha opened #53 "Scrubber needs to be configured with correct proxy address"
So far the proxy was bound to localhost but with the RDMA support it'll end up being bound to an RDMA interface, so the scrubber will be fed wrong information.

[2016-07-05 07:57] saelbrec opened #55 "Unable to list storagerouters when one volumedriver is down"
Installed OVS 2.7 on Ubuntu 14.04.3, 3 nodes setup, alba backend, HC
Created 1 vpool, extended to second node.

Stopped process ovs-volumedriver_vpool1 to test "storagedriver.update_status".

Found that GUI won't show the storagerouters overview, api call returns 500 INTERNAL SERVER ERROR.

Reproduces in ovs shell:

[code]

[2016-07-05 07:58] saelbrec commented on #55
@khenderick 's comment:

The framework code needs a list of all volume_ids owned by a certain storagedriver. If that storagedriver is offline, it seems there's no easy way of retrieving that information.

At this moment, the only solution is to do a lot of arakoon calls, which basically won't work when there are a lot of volumes (that's why this call was introduced in the first place).

I'd like t

[2016-07-06 08:50] redlicha opened #58 "Null pointer dereference in in VolumesList XMLRPC due to race with volume removal"
Said code
* first retrieves a list of `ObjecId`s
* and then walks over these to retrieve the an `ObjectRegistrationPtr` which is then dereferenced without checking for `nullptr`-ness
.
If between these two steps an Object is deregistered the second step will lead to a nullptr dereference.

[2016-07-06 10:28] cnanakos opened #59 "Volumedriver segfaults when workqueue is shutdown before event loop has exited"

[2016-07-06 12:55] cnanakos commented on #59
Addressed from 8319fbd

[2016-07-06 12:55] #59 closed

[2016-07-06 14:09] redlicha commented on #58
Fixed in 6.0.2 / on dev.

[2016-07-06 14:09] #58 closed

[2016-07-06 14:10] redlicha commented on #51
Fixed in 6.0.2 / on dev.

[2016-07-06 14:10] #51 closed

[2016-07-07 09:49] wimpers opened #60 "Virsh migrate issue - unable to execute QEMU command 'query-block': Can't list snapshots of device"
On the OVH environmnet we moved a VM from compute node roub01 to roub02, next we moved it to grav09 and moved it back to roub01. All went fine but when we try to move to grav09 again we get an error.

[code]

[2016-07-07 10:31] redlicha commented on #60
Investigation shows that the volume itself is alive and running in the grav env. The above error does however originate in the roub env
[code]

[2016-07-11 11:41] redlicha opened #62 "Coarse locking during volume creation slows down monitoring / mgmt calls"
While creating a volume, the mgmt mutex to protect the map of volumes is held. Since volume creation can however take long (e.g. in case of backend issues), this impacts mgmt and monitoring calls that also need access to the volume map and hence the lock.
Observed when invoking e.g. `statistics_volumedriver` while at the same time a volume was being created which eventually timed out due to an unr

[2016-07-11 17:08] redlicha commented on #62
Also affected: periodic DTL checker.

[2016-07-11 19:59] redlicha opened #63 "Coarse locking in the periodic DTL checkup slows down monitoring / mgmt"
The mgmt mutex is held while walking over all volumes. In a first step this should be reduced to only holding it while processing a single volume, in a second phase moving it out of the lock should be investigated.

[2016-07-11 20:01] redlicha opened #64 "DTL check interval updates are not picked up on reconfiguration"

[2016-07-12 21:53] redlicha commented on #52
Fixed on dev

[2016-07-13 09:26] redlicha commented on #53
Fixed in dev, usage info in #61

[2016-07-13 09:28] redlicha commented on #55
@khenderick: fixed in dev, usage info in #56

[2016-07-14 10:42] redlicha opened #66 "Use-after-free of NetworkXioIOHandler"
Investigation of a volumedriver crash shows the following:

[code]
followed by volumedriver crashing a few seconds later while handling an `open` request that still uses that connection / the already free'd `NetworkXioClientData` associated with it.

(Probable) chain of events:
* recv `Open` request
* connection teardown event is received and `xio_connection_destroy` is invoked / `NetworkXioClient

[2016-07-14 10:43] redlicha commented on #66
Fixed by 1f5801a83f5211ddff35c6e0cd9f454beb49e6b9

[2016-07-15 08:30] redlicha opened #67 "Uncaught exception in the releasedir callback when path is nullptr"
Observed while removing multiple volumes in a subdir via `rm /mnt/vpool*/* -rf`:

[code]

[2016-07-15 09:54] redlicha opened #68 "DTL state OK_STANDALONE after global config points to wrong address"
https://github.com/openvstorage/framework/issues/723 :
* global `dtl_fs_host` is set to "null", `fs_dtl_config_mode` to `manual`.

[2016-07-15 11:46] matthiasdeblock opened #69 "fuse, voldrv and albaproxy crashed while removing volumes in bulk"
While deleting the volumes in bulk, the voldrv and albaproxy process crashed due to a failure of fuse.

DMESG
[code]

Crashdump voldrv
[code]

Debugtool
[code]

[2016-07-15 11:49] redlicha commented on #69
Duplicates #67. However, albaproxy crashes are not explained by this - please open a separate ticket for alba for htese.

[2016-07-15 11:49] #69 closed

[2016-07-15 12:44] redlicha commented on #67
Reproduced by the newly introduced `RemoteTest.unlink_open_directory`, which `open`s a directory, `unlink`s it and then `close`s it - this leads to the `releasedir` in voldrv with a `nullptr` path argument.
At the moment it's unclear whether this is a bug in FUSE or expected behaviour; the volumedriver code now works around this.

[2016-07-15 13:24] matthiasdeblock commented on #67
@redlicha

I've received an input/output error while deleting the volumes one by one.

[code]

[2016-07-15 13:25] redlicha commented on #67
Unrelated to this issue - please open a new ticket.

[2016-07-15 15:11] redlicha opened #71 "Redirected volume removal times out and leaves stale metadata"
Scenario:
- config:
  - redirect timeout 5 secs
  - backend timeout 15 secs
  - volume V is running on node N
- SCO write W to the backend is happening in the background
- volume removal is started on node M -> redirect to node N, removal needs to wait for W to finish
- W encounters backend issues, finishes (unsuccessfully) when the backend timeout fires
  => unlink call times out on N

[2016-07-15 15:14] redlicha commented on #71
Parameter tuning can alleviate this issue, a proper fix would however be a deferred removal in the background by a garbage collection component e.g. based on arakoon.

[2016-07-19 14:05] redlicha opened #72 "5.6.x: "linking fails with hidden symbol `__cpu_indicator_init' is referenced by DSO""
Updates to the build env started triggering this one:
[code]

[2016-07-25 13:29] khenderick commented on #55
Integrated in #679

[2016-07-26 08:39] #66 closed

[2016-07-26 13:01] khenderick opened #74 "During machine migration the statistics_volume call becomes slow"
During machine migration the `statistics_volume` call becomes slow (+5 seconds)

[code]

Snippet to detect such a "slow" call below. You can just wait and the last info it prints is about the disk that takes more than 5 seconds, and if you `CTRL+C` while it seems to hang, you'll get the stacktrace pointing to `...storagedriver_client.statistics_volume`.

[code]

[2016-07-26 13:49] jeroenmaelbrancke opened #75 "write object: caught exception: invalid inputstream when failover vm to other datacenter"
Wim and i tried multiple failovers from a vm (fast after each other) without seeing error.
After these tests we put some data on the vm and failover the vm again.
When we ls the mountpoint at the same moment the volumedriver throws some errors.
The vm was successfully failovered with these errors.

Can this be investigated why we have these errors?

[code]

vdisk:

[code]

[2016-07-27 08:28] wimpers commented on #75
From Arne:

[2016-07-27 08:29] wimpers commented on #74
Do note that the call hangs on disks which aren't moved.

[2016-07-27 08:56] toolslive commented on #75
I looked at it a bit, and there were no writes were even near the timeout limit. Here's a grep of 'took'
on the proxy's log file
[code]

[2016-08-05 09:43] pploegaert commented on #55
PASSED on 2.7.1-fargo.1-1

[2016-08-05 09:43] #55 closed

[2016-08-08 08:12] khenderick opened #76 "Allow configuration from arakoon"
Allow configuration from arakoon. Story: ovs-projects/org_development#44

[2016-08-08 13:28] wimpers commented on #75
@pploegaert  please investiagte

run fio and do live

[2016-08-08 13:45] redlicha opened #77 "Make sure that the json config is backward compatible"
Cf. https://github.com/openvstorage/framework/issues/768 : write a test to verify the correct behaviour / expose potential issues.

[2016-08-08 13:49] openvstorage-ci opened #78 "the framework should require omniorb to be installed"
_From @domsj on June 22, 2016 14:7_

The volumedriver doesn't require this package / service to be present and running, but it does need it when configured to use shared memory.
By default the framework configures the voldrv to use shared memory, so it's the frameworks responsibility to ensure the package gets installed and that the omniorb service is running (when the voldrv is started).

_Copied

[2016-08-08 13:49] openvstorage-ci commented on #78
_From @redlicha on June 23, 2016 7:39_

The service that is needed is called 'omniNames' and comes with the omniorb-nameserver package.

[2016-08-08 13:49] openvstorage-ci commented on #78
_From @khenderick on July 1, 2016 9:28_

Doesn't this conflict with #665 where we disable SHM by default?

[2016-08-08 13:49] openvstorage-ci commented on #78
_From @khenderick on July 1, 2016 11:26_

After discussion with @saelbrec, wait for this ticket until SHM needs to be enabled (by default) again.

[2016-08-08 13:49] openvstorage-ci commented on #78
_From @khenderick on July 26, 2016 8:37_

Removed milestone and priority because it's on hold anyway.

[2016-08-08 13:49] openvstorage-ci commented on #78
_From @wimpers on August 8, 2016 13:43_

The dependency should be on the voldrv package. The voldrv can be used without the framework.

[2016-08-08 13:49] openvstorage-ci commented on #78
_From @khenderick on August 8, 2016 13:45_

@wimpers, it's an optional requirement for the volumedriver as the shared memory is by default enabled. In any case, if it should be a dependency, please move the ticket to the volumedriver repository.

[2016-08-08 13:55] redlicha opened #79 "Parameters from 'network_interface' section are missing from the configuration dump"
[code]
E.g. `network_snd_rcv_queue_depth` is missing there.

[2016-08-08 14:00] redlicha commented on #77
Dropping the "type_bug" label until we have a test that confirms whether this is handled correctly or not.

[2016-08-08 15:27] wimpers commented on #47
Anything to do here?

[2016-08-08 15:45] wimpers commented on #41
All volumedriver info is stored in the GitBook https://openvstorage.gitbooks.io/volumedriver/content/docs/building.html . let me know if the volumedriver build instructuctions are not clear.

[2016-08-08 15:45] #41 closed

[2016-08-08 15:51] redlicha commented on #47
TBD: rebase to the latest dev branch and then merging it in / testing it - some changes were done in an automated fashion and especially regressions that affect backward compatibility need to be ruled out.

[2016-08-08 15:59] wimpers commented on #47
@redlicha let's go through it an bite the QA bullet.

[2016-08-09 08:25] #79 closed

[2016-08-09 08:25] cnanakos commented on #79
In [5]: j["network_interface"]
Out[5]:
{u'network_snd_rcv_queue_depth': u'2048',
 u'network_uri': u'tcp://127.0.0.1:12329',
 u'network_workqueue_max_threads': u'16'}

[2016-08-09 08:37] wimpers opened #80 "Edge HA"
- The Edge queries at an interval basis the voldrv to know which other voldrv are there as failover option (in same vpool). Edge retries every 15/30secs to reconnect.
- There must be communication from the voldrv to the Edge to switch to another voldrv (there is already an api call to move/live migrate a volume to another voldrv). The message to the edge should contain to which voldrv the Edge nee

[2016-08-09 08:40] wimpers opened #81 "Supervolumes"
Supervolumes split large volumes into multiple smaller volumes.

[2016-08-09 08:53] wimpers opened #82 "Compile edge on other platforms"
Compile the edge for RH.

[2016-08-11 10:51] deepshirsath commented on #52
PASSED on - **Open vStorage: 2.7.1-fargo.1-1**

- Setup a vpool with all caching options disabled, no dtl / no cache..

![caching-disabled](https://cloud.githubusercontent.com/assets/14201912/17586478/a1f9421e-5fdf-11e6-8d58-88a9f508e171.PNG)

- Ran 'fio' on ubuntu vm for few minutes.
- Checked ovs-volumedriver_<pool>.log for 'volumedriverfs/BackendInterface' events/info but did not found any.

[2016-08-11 10:51] #52 closed

[2016-08-11 13:03] redlicha opened #83 "Python API: only link required libs"
`ldd storagerouterclient.so` reports a number of libraries that seem unnecessary.

[2016-08-12 08:19] redlicha commented on #83
Related to https://github.com/openvstorage/volumedriver/issues/36

[2016-08-12 15:33] JeffreyDevloo opened #84 "Virsh tries to autostart vms before volume driver has started"
## Problem description
Virsh tries to autostart vms before volume driver has started
virsh log:
[code]
Volumedriver log:
[code]
As you can see, virsh logged its error a second before the volume driver has started.
## Possible root of the problem
The libvirtd service doesnt wait for the volumedriver to finish. (The startup condition cant be modified to wait for this change aswell)
## Temporary solu

[2016-08-12 17:16] redlicha commented on #84
The order in which services are started is not something volumedriver is concerned with. @wimpers, can you please move this to an appropriate place?

[2016-08-16 07:10] redlicha commented on #76
Merged into dev

[2016-08-18 08:45] redlicha opened #86 "ThreadPool: resizing does not remove joined threads"
The vector containing the pointers to the threads is not cleared before reinitializing it so joined threads are kept around and newly created threads are appended to it.

[2016-08-18 11:16] #86 closed

[2016-08-18 11:52] kvanhijf opened #87 "StorageRouterClient should expose a timeout"
When establishing a storagerouterclient object with a ClusterContact with an incorrect port (used for something else), the client connection doesn't time out, while it should

Snippet:
from volumedriver.storagerouter.storagerouterclient import StorageRouterClient, ClusterContact
contact = ClusterContact('10.100.193.154', 26202)
client = StorageRouterClient('23cb2f8f-bef4-43b9-95d3-3db7026cf3c0', [

[2016-08-18 14:01] redlicha commented on #72
Closing it as the jenkins builds are happy again.

[2016-08-18 14:01] #72 closed

[2016-08-18 14:12] redlicha opened #88 "Frequent construction + destruction of alba proxy clients"
Observed during testing by log inspection:
[code]

This can cause a performance degradation and points towards the backend connection pool not working optimally with the default settings.

[2016-08-19 09:37] pploegaert commented on #7
PASSED:

docker file serves as doc according to @redlicha:
https://github.com/openvstorage/volumedriver-buildtools/tree/dev/docker/ubuntu1604

jenkins build results:
http://10.100.129.100:8080/view/volumedriver/view/ubuntu/job/volumedriver-dev-release-ubuntu-16.04/

Please reopen if this is considered incomplete - thx

[2016-08-19 09:37] #7 closed

[2016-08-19 12:30] pploegaert commented on #67
@matthiasdeblock: pls add a link to the new ticket wrt I/O errors, as this is a continuation so we can validate both together - thx

[2016-08-22 07:51] kvanhijf opened #89 "Python API + qemu package should expose the volume extend functionality"
As discussed with @saelbrec , the decision has been made that extending a volume should both be possible using the API and qemu directly. Currently this is not possible in any way

stack@devstack:/opt/devstack$ qemu-img resize -f raw openvstorage+tcp:10.100.193.154:26203/test +20G
qemu-img: This image does not support resize

[2016-08-22 08:45] openvstorage-ci commented on #84
This issue was moved to openvstorage/framework#829

[2016-08-22 08:45] #84 closed

[2016-08-22 11:36] wimpers commented on #47
@redlicha did we already merge this in?

[2016-08-22 11:54] redlicha commented on #47
No, it's not merged in yet as it is a change that needs coordination with the framework / other tasks took precendence.

[2016-08-22 12:37] redlicha commented on #87
The constructors of `{Local,StorageRouter}Client` now accept an optional client timeout argument (in seconds), which can also be queried via the `client_timeout_secs` method.

[2016-08-22 14:30] wimpers opened #90 "voldrv heartbeat"
Have the volume driver send a heartbeat to arakoon every 5 secs.

[2016-08-22 15:08] redlicha commented on #88
The number of connection pools is now configurable and can, together with the total capacity of the pools, be adjusted to the actual hardware / use case.

[2016-08-24 15:07] redlicha opened #91 "Integrate RORA hit / miss counters"
https://github.com/openvstorage/alba/issues/345

[2016-08-24 15:28] kinvaris opened #92 "Fusemount refused to unmount"
When creating a new environment in most cases we use this wiper to clean the environment: https://github.com/openvstorage/dev_ops/blob/master/Bash/OpenvSwiper.sh

After doing this on a GIG environment, we noticed that the vpool mountpoint was still present with `Transport Endpoint Not Connected`. After digging through `lsof` and trying some other stuff we failed to unmount the mountpoint.

After g

[2016-08-26 08:40] #90 closed

[2016-08-29 10:06] wimpers commented on #8
Lowering priority to normal as Milestone is Roadmap

[2016-08-29 11:12] jeroenmaelbrancke opened #96 "2 white spaces on the volumedriver before severity level"
Is it possible to remove one white space between - and info?
Our grok parser cannot parse multiple white spaces.

volumedriver version:
[code]

output (between - and (info,error,warning)):
[code]

[2016-08-29 15:21] JeffreyDevloo opened #97 "VolManager: Exception during VolManager construction: Corruption: no meta-nextfile entry in descriptor RocksDataBase"
## Problem description

I found the following inside the volume driver log after I noticed my volumedriver process wasn't running.

[code]
## Possible root of the problem

I was testing power outage scenario's when this happened. It could be that the data got corrupted during the forceful shutdown.
## Temporary solution

I have not found how to recover from this yet.
## Additional information
###

[2016-08-30 11:43] redlicha opened #98 "Config in arakoon not accepted on command line"
[code]

[2016-08-30 12:35] redlicha commented on #97
As indicated by the actual error message, RocksDB (used by the Metadata Server (MDS)) detected an internal corruption - this could be caused by an error of the underlying storage or a non-graceful shutdown (as in your test).

The MDS database can be rebuilt; simply moving the old database out of the way should be sufficient (the restart will take longer).

[2016-08-30 12:43] redlicha commented on #97
@wimpers: I don't consider this a bug.

[2016-08-30 13:36] redlicha opened #99 "Replace max_volume_size with max_cluster_count"
Rationale: the `cluster_size` is configurable now - it wasn't when `max_volume_size` was introduced to put an upper limit on the volume size to be able to limit resource consumption.

[2016-08-30 13:44] redlicha opened #100 "Timeout while attempting to steal a volume not handled correctly"
[code]

[2016-08-31 07:21] redlicha commented on #98
Fixed on dev.

[2016-08-31 07:21] redlicha commented on #96
Fixed on dev.

[2016-08-31 07:21] #96 closed

[2016-08-31 07:25] redlicha commented on #78
Fixed on dev.

[code]

[2016-08-31 07:26] #78 closed

[2016-08-31 11:43] wimpers commented on #75
After discussion with @pploegaert assigning to @JeffreyDevloo as he is investigating issues with the migrate.

[2016-08-31 13:37] redlicha opened #101 "Backend-sync during migration takes longer than expected"
Testing shows that volume migrations take unexpectedly long. Initial log analysis show an unexpected delay after writing out the TLog which is not observed in the normal data path.

[2016-08-31 13:37] redlicha commented on #101
Hypothesis: the check whether all data is synced to the backend is too aggressive / expensive.

[2016-08-31 19:28] redlicha commented on #74
Possibly related to #101

[2016-09-01 07:33] wimpers opened #102 "Flocker support with the edge"
Get Flocker working on top of the Edge. Current version is 1.14.0, last version we tested was 1.10.

[2016-09-01 08:29] cnanakos commented on #102
@wimpers This issue it's better to be opened under the flocker repository.

[2016-09-01 08:35] openvstorage-ci commented on #102
This issue was moved to openvstorage/openvstorage-flocker-driver#1

[2016-09-01 08:35] #102 closed

[2016-09-01 09:32] redlicha opened #103 "Use conditional uploads to enforce namespace ownership"
ALBA will offer transactional conditional object writes - https://github.com/openvstorage/alba/issues/353 . VolumeDriver will use that mechanism to make sure that only the cluster member owning the volume can write to the backend namespace.

[2016-09-01 12:25] wimpers commented on #99
What is the problem? Assume you have a 64TB vol with 4KB blocksize, will we run into issues? Or is it you would like to have it limited.

[2016-09-01 12:32] wimpers commented on #97
@pploegaert can you create an OPS procedure for this?

[2016-09-01 12:53] redlicha commented on #99
@wimpers, the param was introduced to put a limit on resource consumption (metadata) which is actually depending on the number of clusters. Back when the cluster size was fixed, the resource consumption was directly proportional to the volume size; but now that other cluster sizes can be configured, the param should be changed.

[2016-09-01 15:06] kinvaris commented on #64
PASSED!

Update config:
[code]

Verify at runtime update:
[code]

[2016-09-01 15:06] #64 closed

[2016-09-02 11:53] kinvaris commented on #87
PASSED:

**Scenario 1:** no timeout is introduced, issue is observed
[code]

**Scenario 1:** 5 second timeout is introduced, solution is observed
[code]

As seen in the docstring:
[code]

[2016-09-02 11:53] #87 closed

[2016-09-02 12:45] wimpers commented on #92
@kinvaris can we add this to the swiper steps and document under the voldrv troubleshooting section in the voldrv gitbook?

[2016-09-02 15:29] kinvaris commented on #77
PASSED:

I've put a invalid key in a config file of the volumedriver, restarted the target volumedriver and did a fio test. No errors occured during test.
[code]

[2016-09-02 15:29] #77 closed

[2016-09-05 11:39] wimpers commented on #89
Edge side still todo.

[2016-09-05 11:41] cnanakos commented on #89
@wimpers  Edge already supports volume resizing. Probably the QEMU package being used is not the latest one from unstable.

[2016-09-05 11:47] redlicha opened #104 "MDS scrub ID on old master could end up being updated without the scrub results being applied"
Observed during tests:
* failover from MDS M to N
* M stays alive as master, scrub results are not applied to it
* M is restarted
* fail back to M
. The scrub ID on M is at some point set to expected one without the scrub results having been applied, so there's (at the latest on failback) no rebuild of M, causing it to reference removed SCOs which in turn will lead to errors being reported to the

[2016-09-05 11:50] redlicha opened #105 "Revisit volume restart with MDS rebuild"
Observed while applying the workaround for #104 : when restarting a volume whose MDS has been rebuilt from scratch, a number of `objectExists` calls have been observed for TLogs that were already used to build the MDS. Look into removing these superfluous `objectExist` calls to speed up the restart.

[2016-09-05 12:14] redlicha commented on #101
Manual testing shows that making the backend-sync-check less expensive and aggressive considerably improves the time for a backend sync from > 70 secs to < 30 secs.

[2016-09-05 12:31] wimpers commented on #89
@redlicha so if you merge your PR this is can be set to fixed?

[2016-09-05 12:42] redlicha commented on #89
@wimpers: correct. FWIW, the PR was just merged into dev.

[2016-09-06 14:33] FastGeert opened #107 "IO latency statistics of edge client"
In other to prevent problems we need to be able to read io latency statistics of the volumedriver / edgeclient in order to build a throtteling mechanisme for iops using libvirt.

[2016-09-06 14:35] FastGeert commented on #107
For us it would be easiest if we can read these numbers from the edgeclient side, because this is also the place where we need to do the throtteling.

[2016-09-08 07:18] wimpers opened #108 "API call to retrieve status of a volumedriver"
As noted in https://github.com/openvstorage/ovs-documentation/issues/24 there is no way to know if a volumedriver is usable/active after a reboot or restart. This means the only option someone has is to wait a few minutes  before starting VMs because otherwise they risk that the volumedriver isn't running yet and hence can't serve volumes.

We should provide an API to query if a volumedriver is on

[2016-09-08 08:29] saelbrec opened #109 "Excessive logging if no voldrv cluster cache is available"
This issue was encountered before when we were still using a clustercache and the device hosting the clustercache died. Cfr http://jira.openvstorage.com/browse/OVS-4065

In this case however there was no clustercache configured at all
[code]

Log file was flooded with messages like
[code]

[2016-09-08 08:47] redlicha commented on #109
Per the config the volumedriver does not have a cluster cache configured and the global cluster cache behaviour is set to `NoCache', but individual volumes were reconfigured to use 'CacheOnRead'. This leads to these volumes trying to write entries to the cluster cache, which fails as no cluster cache devices are configured and the above message is logged.

[2016-09-08 15:15] kinvaris commented on #76
PASSED:

Configurations can be fetched through the `Configuration` wrapper as shown:
[code]

Passing config files to processes can be done like this:
[code]
**INFO:** This referrers to the config manager: `%2Fopt%2FOpenvStorage%2Fconfig%2Farakoon_cacc.ini`

[2016-09-08 15:15] #76 closed

[2016-09-09 08:57] FastGeert commented on #109
After reconfiguring the volumes to NoCache, volume driver again wrote up to 23GB of logs in a 1 hour fio test.

[2016-09-09 09:06] FastGeert opened #110 "Quickly removing and recreating a volume with the same name triggers a fault"
Disks of routeros virtual machines in OVC are being created with a specific naming convention. It happens that these routeros virtual machines are quickly recycled, and this triggers a race condition in the volumedriver.

The result is that the "recreated" volume is left in a zombie state, that can only be solved by expert ops to clean it up.

[2016-09-09 09:15] FastGeert opened #111 "Edgeclient should throttle incomming IOs when volume driver can't follow"
Needed to prevent IO errors under heavy load.

[2016-09-09 10:26] redlicha commented on #110
Can you please provide more details on how this recycling takes place, i.e. how are volumes created and removed and which nodes are involved (specifically I'm wondering if this is a duplicate of #71 ?)

[2016-09-09 10:41] despiegk commented on #110
the fuse way is used to create/delete the volumes
maybe the workaround is to use the rest api

[2016-09-09 11:41] redlicha commented on #109
Where can the evidence be found? In which time frame where these tests conducted? Looking at be-g8-2/ovs-01, the current logfile looks ok whereas the previous one (rotated today around 7 am) has a compressed size of 1.3G.

[2016-09-09 11:56] FastGeert commented on #109
Yesterday evening we did a fio test on 18 volumes for 1h. Probably cleaned
up in the meantime. If we see it happening again, we will provide the
necessary pointers.
ᐧ

On Fri, Sep 9, 2016 at 1:41 PM, Arne Redlich <notifications@github.com>
wrote:

--

<http://www.rogerthat.net>

GEERT AUDENAERT / founder
geert@mobicage.com / +32 (0)474 201 541

ROGERTHAT
-- Avoid WhatsApp for business communicatio

[2016-09-09 12:27] pploegaert opened #112 "Updated volumedriver on system but startup fails due to backward compat issue in serialization code"
@redlicha: pls update with additional details after further debugging - thx

[2016-09-09 12:31] redlicha commented on #112
update:  6.0.4-dev.201609060030.7a8da55 -> 6.0.4-dev.201609090836.125f7e5
deserialization of `ClusterNodeConfig` throws an exception:
[code]

[2016-09-10 10:59] redlicha commented on #112
Verified by testing manually on the env where the issue was originally observed.

[2016-09-10 10:59] #112 closed

[2016-09-12 15:14] wimpers commented on #109
@FastGeert can we close this one and re-open if it happens again? Please advise.

[2016-09-12 19:48] FastGeert commented on #109
Okay

On Sep 12, 2016 5:14 PM, "Wim Provoost" <notifications@github.com> wrote:

[2016-09-13 07:14] wimpers commented on #109
After discussion with GIG set to closed/won't fix.

[2016-09-13 07:14] #109 closed

[2016-09-13 07:20] redlicha commented on #101
@wimpers are the current timings acceptable?

[2016-09-13 07:41] wimpers commented on #101
I'm a bit worried that for a 256MB buffer it takes 30s. So roughly calculated 10MB/s (2500 iops) is being pushed to the backend which seems a bit on the slow side. Based upon this for a 2GB write buffer this would take 5 minutes.

@kinvaris will setup the vPool with a more performing preset (bigger fragment size) so I assume that will help a bit.

I propose to close this ticket and create a new ti

[2016-09-13 07:41] wimpers commented on #101
@kinvaris can you test the migration with the new preset and update the ticket with the timing?

[2016-09-13 13:32] khenderick opened #113 "ClusterRegistry should have an ip address configurable for the DTL"
ClusterRegistry should have an ip address configurable for the DTL. Currently, the ip address is shared for management, xmlrpc and DTL.

Integration ticket (contains some history): https://github.com/openvstorage/framework/issues/777

[2016-09-14 13:13] wimpers commented on #110
@FastGeert is this still the case after changing the implementation to use the REST API

[2016-09-14 13:53] FastGeert commented on #110
Can't say yet. We need to do more testing.

[2016-09-15 11:58] wimpers commented on #108
Maybe we need to tackle this a vDisk level instead of voldrv level.

[2016-09-15 12:03] wimpers commented on #108
@redlicha is there anything needed from your side for this or should the framework be able to get this info based upon the current API?

[2016-09-15 12:20] redlicha commented on #108
These are IMHO different issues / features:
1) checking whether a volumedriver is up and running. This can currently be checked with the `LocalStorageRouterClient.server_revision` call which will either return version info or raise an exception if the volumedriver is not there (timeout should be used on the client!). This call will only succeed if the volumedriver is fully up and running. If for s

[2016-09-15 21:40] redlicha opened #114 "NetworkServer hang in test on shutdown right after startup"
Observed on jenkins in `NetworkServerTest.uri`: the test hangs while the shutdown waits for the server thread to exit.

[code]

Caused by the following race?
* t1: start `NetworkXioServer::run`, wait for future; `stopped` is at this point true
* t3: `NetworkXioServer::run` fulfils the promise associated with the future, is descheduled before setting `stopped` to false
* t1: eventually invokes `Net

[2016-09-16 08:18] redlicha opened #115 "Better protection against configuring inordinate amounts of metadata cache"
[code]

The volume should not be halted but refuse the request instead.

[2016-09-16 09:10] #114 closed

[2016-09-19 11:48] kinvaris opened #116 ""Unix.Unix_error "No such file or directory" open" during scrubbing"
### On master node: ctrl-roub-01:
[code]
### On node in question: perf-roub-01:
[code]
### Full task on perf-roub-01:
[code]
Volumedriver log `/var/log/upstart/ovs-volumedriver_geo-accellerated-alba.log`:
[code]

[2016-09-20 10:17] khenderick opened #117 "Cannot read network_server_uri via python client"
I cannot read the network_server_uri via the python client.

[code]

raises

[code]

[2016-09-20 10:27] redlicha commented on #117
Problem in the Python API: a converter for `boost::optional<youtils::Uri>` is actually registered, but for some yet-to-be-understood reason is not used when exposing members of that type via `boost::python`s `.def_readonly`.
A quick fix would be introducing an accessor method, but AFAIU @khenderick (correct?), this is not a blocking issue so the proper fix should be investigated.

[2016-09-20 10:40] redlicha commented on #117
http://www.boost.org/doc/libs/1_55_0/libs/python/doc/v2/faq.html#topythonconversionfailed

[2016-09-20 13:21] redlicha commented on #116
Log inspection (`/var/log/ovs/storagerouterclient.log`) suggests that the scrubber is pointed to the wrong proxy:
[code]

IOW the commandline of the scrubber *does not* contain a `--backend-config <cfg>` ( cf. #53 ), as the framework side of this is not yet implemented - cf. https://github.com/openvstorage/framework/issues/72/ .

@khenderick / @wimpers: unless you want to move this over to the fra

[2016-09-20 13:31] redlicha commented on #116
Let me rephrase: I'm closing this here, please move over to the framework / reopen there if required. :)

[2016-09-20 13:31] #116 closed

[2016-09-21 14:09] redlicha commented on #113
After discussion with @saelbrec:
* the XMLRPC / DTL / messaging endpoints will be made independently configurable in the ClusterRegistry as this is a rather straightforward change
* the `Manual` DTL mode will be modified to allow dynamic reconfiguration of the DTL per voldrv

[2016-09-21 21:17] wimpers commented on #116
@khenderick  do we need to open it in the framework repo?

[2016-09-22 03:55] khenderick commented on #116
No, an integration ticket already exists. See in ine of the first comments.

[2016-09-22 14:10] redlicha commented on #117
Fixed on dev. A test has been added / manual testing shows it's fixed:
[code]

[2016-09-22 14:10] #117 closed

[2016-09-22 14:12] redlicha commented on #113
Fixed on dev. The changes are backward compatible, but to make use of it the framework will have to be adapted (CC @khenderick). When updating from an older version make sure to first update all volumedrivers of the cluster before adding new entries to the `ClusterRegistry`.

[2016-09-26 07:15] openvstorage-ci opened #124 "Failed to accept new connection: accept Too many open files (24) on DTL"
_From @kinvaris on September 23, 2016 14:6_

Seeing this on many nodes with DTL process:
[code]

_Copied from original issue: openvstorage/framework#952_

[2016-09-26 07:15] openvstorage-ci commented on #124
_From @saelbrec on September 23, 2016 14:8_

This should actually be an issue on the volumedriver repo.

[2016-09-26 09:50] wimpers commented on #110
@FastGeert any update on this ticket? Can we close this ticket?

[2016-09-26 19:59] redlicha opened #125 "Redirected volume requests/responses are sequentialized"
Observed while testing volume stealing: requests that were issued concurrently time out sequentially with an interval equal to the configured request timeout.

[2016-09-27 15:23] wimpers commented on #124
Fills up the logs very quickly.

[2016-09-28 07:25] saelbrec opened #126 "Cannot allocate requested buffer from mempool"
Many of the following log messages appeared for a couple of mins.

[code]

Find the complete log file attached for more info
[ovs-volumedriver_data01.log.gz](https://github.com/openvstorage/volumedriver/files/497346/ovs-volumedriver_data01.log.gz)

[2016-09-28 08:08] cnanakos commented on #126
@saelbrec Apparently this is not a problem. The server couldn't allocate the specified memory size from the memory pool, so it falls back to non-mempool allocations. Just changed the log level from error to info and made the message more informant for the user.

https://github.com/openvstorage/volumedriver/commit/5b4e12663374808e725d1365549cdc3f61ab127d

[2016-09-28 08:46] saelbrec commented on #126
Any idea as to why the mempool would become exhausted? Too small for this type of workload.
Is the mempool being shrinked when the system gets under memory pressure? And these messages then indicate the system is swapping ?

[2016-09-28 08:59] cnanakos commented on #126
The memory pool is exhausted because of the workload but the server tries to allocate memory outside of the memory pool. The memory pool has pre-allocated all the slabs on startup.

[2016-09-28 09:47] redlicha opened #127 "Scrub ID mismatch while applying relocations to MDS slave"
Causes an expensive rebuild of the slave and hence scrub replies piling up:

[code]

[2016-09-28 09:50] redlicha commented on #127
https://github.com/openvstorage/volumedriver/issues/127

[2016-09-28 12:32] khenderick opened #128 "Allow optional client_timeout argument on all StorageRouterClient calls"
Allow optional `client_timeout` argument on all `StorageRouterClient` calls. While this is currently already a possible argument in the constructor, a reasonable timeout differs from call to call. E.g. for some kind of info/statistics call a 2s timeout would be appropriate, but for calls like migrates or truncates a longer timeout might be required.

[2016-09-28 17:43] redlicha opened #129 "ClusterRegistry::set_node_state does not assert on actual old value but its idea of it"
This can lead to the assertion failing if new fields are added to the value that is serialized.

[code]

[2016-09-29 10:31] redlicha commented on #126
Do we need rate-limiting for the log message?

[2016-09-29 21:28] redlicha opened #131 "Connection attempt to absent DTL takes too long to time out"
The connection attempt waits for the OS to signal success or error which in the latter case can take a while (e.g. +/- 2 mins were observed when trying to connect to an AWOL host).

[2016-09-30 14:17] redlicha commented on #100
Code inspection suggests that exceptions can escape in `NetworkXioHandler`, e.g. from calls to `ObjectRegistry::get_size()` and eventually cause process termination.

[2016-09-30 15:31] #100 closed

[2016-09-30 15:39] saelbrec opened #133 "Volume does not exist not handled correctly"
Testing manual HA earlier this week I experienced the following issue.
After shutting down a node and having it marked offline the other node failed to steal a certain volume. Then the initial node and volumedriver owner were started again, after which a client tried to access to volume via the initial owner, at that point the volumedriver died with the below unhandled exception.

[code]

[2016-10-03 09:30] wimpers commented on #110
After discussion with @FastGeert set to closed as using the REST API doesn't trick the behaviour.

[2016-10-03 09:30] #110 closed

[2016-10-03 12:00] kvanhijf opened #134 "Investigate requirement for a moving volume flag"
In the framework we've now implemented the volumedriver migrate functionality
Since we cannot know how long such move action can take, the customer could potentially launch a move of a vDisk and while this is being executed, he could start another move of the same volume.
As discussed with @cnanakos , there is currently no information available whether a vDisk is being moved or not, so in order to

[2016-10-03 12:29] kvanhijf opened #135 "Inconsistency in StorageDriverClient's migrate documentation"
In [3]: vdisk.storagedriver_client.migrate?
Type:       instancemethod
String Form:<bound method StorageRouterClient.migrate of <volumedriver.storagerouter.storagerouterclient.StorageRouterClient object at 0x7f91ac060998>>
Docstring:
migrate( (StorageRouterClient)arg1, (str)object_id, (str)node_id, (bool)force_restart) -> None :
    Migrate an object (volume or file) to another node.
    @param vo

[2016-10-03 12:40] khenderick commented on #135
The docstring for the SRC was also incorrect; ```client_timeout_secs``` vs ```client_timeout```. Maybe check all docstrings.

[2016-10-04 06:37] wimpers opened #136 "High Performance Read Mesh"
High Performance Read Mesh hereby the edge can directly query the RORA server side component on reads, hence creating a high performance read mesh. Writes still go through the volume driver.
- [x] [Get metadata api](https://github.com/openvstorage/volumedriver/issues/146)
- [ ] Update Edge Client
  - Allowed block sizes of 4k or 16k (default).
  - LRU tracking
  - Compile for Ubuntu, CentOS

[2016-10-06 08:33] pploegaert opened #137 "Limit size of DTL"
Still to be completed according to Wim Provoost

Reference:
http://jira.openvstorage.com/browse/OVS-3024

Related voldrv tickets:
http://jira.openvstorage.com/browse/OVS-2866
http://jira.openvstorage.com/browse/OVS-3220

[2016-10-10 07:41] redlicha commented on #133
Duplicate of #100 : an exception was not handled in a thread which eventually leads to `terminate` being invoked.

[2016-10-10 07:41] #133 closed

[2016-10-11 09:17] redlicha opened #138 "Subpar DTL performance in RDMA/Sync mode"

[2016-10-11 09:18] redlicha opened #139 "Automated HA triggered unexpectedly"
Volume stealing was triggered by a timed out redirected request. This should however only be triggered if connectivity to the remote node is lost.

[2016-10-11 09:21] redlicha opened #140 "Segfault in Xio/RDMA server"
[code]

[2016-10-11 09:30] redlicha opened #141 "Segfault on scrub result application on MDS slave"
[code]

[2016-10-11 12:48] redlicha commented on #141
Hypothesis:
* volumedriver (MDS) is restarted
* MDS slave table does not have to catch up -> `NSIDMap` is not built but contains `nullptr`s

=> Fix: unconditionally build the `NSIDMap` on restart.

[2016-10-11 13:36] redlicha opened #142 "Python API for manipulating ScrubManager queues"
For now there's only the big hammer - stop all instances and drop all relevant `scrubmgr/` keys from Arakoon.
This needs to be made more fine grained - allow removal of individual parent / clone scrubs *without* having to shut down all instances.

[2016-10-11 21:44] redlicha commented on #140
There are keepalive timeout messages in the logs:
[code]
There's however no trivial correlation with the crashes - there might be multiple of these before a segfault, and a segfault is typically not immediately preceded by such a message.

[2016-10-11 21:48] redlicha commented on #140
Another observation (also without a trivial correlation to the segfaults): dmesg contains a big number of these messages:
[code]

[2016-10-12 07:14] khenderick opened #143 "Expose functionality to scrub up to a given snapshot"
Expose functionality to scrub up to a given snapshot.

More information in FWK integration ticket: openvstorage/framework#1020

[2016-10-12 08:13] redlicha opened #144 "Edge client logging"
Idea:
- initially: introduce a syslog sink for the youtils logging and use that by default, configuration via env vars?
- in the longer run: do we want to allow consumers to register log callbacks?

[2016-10-12 09:02] redlicha opened #145 "Use-after-free while building redirected request"
Thread builds message while there is no other thread waiting on the associated future object anymore -> use after free:
[code]

Possibly related log messages:
[code]

[2016-10-12 09:29] wimpers opened #146 "GetMetadata API call"
For the https://github.com/openvstorage/volumedriver/issues/136 the edge client needs to be able to retrieve the necessary metadata as to which ASD to contact. The volumedriver should be able to provide this info through it's API.

API call: GetMetadataForPage
Returns an mdpage with the SCOid+offset for taking a cluster as a parameter. This takes the cluster as a variable and returns the entire pa

[2016-10-12 09:35] wimpers commented on #146
@redlicha any chance we can add this to Fargo. In that case we don't need to update the voldrv to offer the High Performance Read Mesh.

[2016-10-12 12:22] wimpers opened #147 "Integration of the ALBA Archive tier"
Volume driver integration work for the ALBA archive tier.

Some use cases which should be supported:
* Start cloned volume based upon what is on the archive.

**Complete list of actions/use cases to be defined.**

[2016-10-12 13:38] wimpers commented on #142
@redlicha  @saelbrec how relevant is this ticket if we tackle https://github.com/openvstorage/framework/issues/1020 where we start the scrub work volume per volume?

[2016-10-12 13:43] redlicha commented on #142
These are unrelated - the scrub replies will still end up in voldrv's `ScrubManager` queues, and tools to manipulate these queues will help troubleshooting.

[2016-10-12 21:53] redlicha opened #148 "Excessive full MDS slave rebuilds for idle clones without snapshots"
The MDS slave uses TLogs as checkpoints. For clones it does however not fall back to the parent's TLogs which causes excessive full rebuilds of MDS slaves until the first TLog of a clone itself is on the backend.

Typically certain reconfigurations (configuring a DTL) will paper over this as they cause the current TLog to be closed and sent off to the backend.

Workaround: a TLog can be forced to

[2016-10-14 09:31] redlicha opened #149 "MDS slave with database errors outlives the volume"
Observation:
* after a node crash, an MDS slave runs into a database error:
[code]
* the volume is eventually removed
[code]
* the MDS slave does not notice the absence of the namespace as it keeps on running into the database error

Workaround: remove the slave with the Python API (`MDSClient.remove`).

[2016-10-14 09:35] wimpers opened #150 "Support for proxy and voldrv on separate hosts"
As a result of https://github.com/openvstorage/framework/issues/684 : in case we want to support the scenario where the proxy and voldrv run on separate hosts more work will be required than just breaking the upstart dependency.

Currently I don't know of a use case where this would be required. We have a scrub-only proxy so that is already covered.

[2016-10-14 09:42] redlicha commented on #150
@wimpers: this requires a FR on alba as voldrv uses a client API. IOW support for remote proxies needs to be added to the alba client lib and voldrv then has to adapt to API changes (if any).

[2016-10-14 09:51] openvstorage-ci commented on #150
This issue was moved to openvstorage/home#38

[2016-10-14 09:51] #150 closed

[2016-10-14 09:51] wimpers commented on #150
Basically it needs work from every team hence moving to home repo.

[2016-10-14 18:16] redlicha opened #151 "Segfault during shutdown with active client connections"
Sadly no core dump is available.

[code]

At this point the logging ends as the process caught a `SIGSEGV`.

[2016-10-14 18:22] redlicha opened #152 "Local volume restart fails due to failed assertion that a TLog is on the backend"
[code]

Workaround: backend restart via `migrate` Python API call (after moving the `md` and `tlog` directories for the volume out of the way).

[2016-10-14 18:37] redlicha commented on #152
[code]

[2016-10-14 18:57] redlicha commented on #152
* TLog creation
[code]
* voldrv / volume restart:
[code]
* no subsequent uncork found (but voldrv exiting abnormally).

[2016-10-14 19:55] redlicha opened #153 "Process terminates on SIGPIPE"
[code]

[code]

[2016-10-17 10:14] redlicha commented on #131
Test: FailOverCacheTester.connect_timeout (DISABLED by default).

[2016-10-17 10:14] #131 closed

[2016-10-17 10:16] redlicha commented on #145
Test: volumedriver_fs_test, RemoteTest.back_to_life

[2016-10-17 10:16] #145 closed

[2016-10-17 10:17] redlicha commented on #125
Tests: volumedriver_fs_test, RemoteTest

[2016-10-17 10:17] #125 closed

[2016-10-17 10:18] redlicha commented on #113
Feature implemented.

[2016-10-17 10:18] #113 closed

[2016-10-17 10:20] redlicha commented on #98
config-in-arakoon feature is in use now, issue has not been observed again.

[2016-10-17 10:20] #98 closed

[2016-10-17 10:21] redlicha commented on #89
Feature implemented.

[2016-10-17 10:21] #89 closed

[2016-10-17 10:22] redlicha commented on #88
Issue has not been reported anymore, reopen if it should surface again.

[2016-10-17 10:22] #88 closed

[2016-10-17 10:23] redlicha commented on #67
Issue has not been observed anymore.

[2016-10-17 10:23] #67 closed

[2016-10-17 10:25] redlicha commented on #104
Test: MDSVolumeTest.scrub_id_mismatch

[2016-10-17 10:25] #104 closed

[2016-10-17 10:27] redlicha commented on #60
@wimpers: I suppose this has been tested by now multiple times in the OVH env and the ticket can be closed?

[2016-10-17 10:28] redlicha commented on #53
@pploegaert , are there integration tests that verify the issue is fixed?

[2016-10-17 10:50] wimpers commented on #60
@redlicha yes, according to me this can be closed. I'll leave it up to  QA to close it.

[2016-10-17 11:41] wimpers commented on #153
@redlicha can you give some background? Is this urgent what does it break? SRP or not?

[2016-10-17 12:15] redlicha commented on #153
@wimpers:

From the `write(2)` manpage:

So some pipe or socket was closed and voldrv was trying to write to it. The exact source is unclear, but it's a bug in any case since the intention has always been that in that case we want to handle the error returned by `write` instead of being notified asynchronously with a signal. We've not seen it more often so far since the FUSE main loop blocks the s

[2016-10-17 12:25] wimpers commented on #134
@redlicha @cnanakos doesn't the voldrv block this internally, otherwise we need to expose this or raise an  error 'already migrating'.

[2016-10-17 12:42] redlicha commented on #134
* requests to migrate are serialized
* a migration consists of the following steps:
  * shut down volume on old owner: new owner sends message to old owner, see below for timeouts
  * transfer ownership (in ObjectRegistry)
  * start volume on new owner
* requests between nodes to migrate have configurable timeouts - the same ones that are in effect for auto-migration triggered by I/O (`vrouter_mig

[2016-10-17 14:09] wimpers commented on #146
@chrys, can you add the GetAPI call to the edge server? Just the voldr part is required for now. The client side will be picked up post October.

[2016-10-17 14:58] redlicha commented on #152
Test: volumedriver_test, LocalRestartTest.mdstore_running_ahead.

[2016-10-17 14:58] #152 closed

[2016-10-17 15:00] redlicha commented on #149
@wimpers, why is this labelled 'SRP'?

[2016-10-17 15:02] redlicha commented on #141
Test: volumedriver_test, MDSVolumeTest.slave_has_nsidmap_after_restart

[2016-10-17 15:02] #141 closed

[2016-10-17 15:08] redlicha commented on #138
Possibly caused by a misconfiguration of the environment as we've seen all sorts of other issues with the Edge components: server crash while in xio, xio error messages on the client side. These disappeared after changing the MLAG config between the switches.
Retesting needed.

[2016-10-17 16:01] wimpers commented on #149
It was labelled with SRP as it is eating up resources.

[2016-10-17 19:09] redlicha commented on #140
Very likely related to the network configuration of the env where this was observed - after changing the switches' MLAG configuration the crash / errors on the client side were not reproducible anymore.

[2016-10-18 07:31] wimpers commented on #140
After discussion with @redlicha set to verification for QA .

[2016-10-18 08:14] saelbrec commented on #140
At the same time of the network reconfiguration to remove the MLAG, we also updated the volumedriver bits to version 6.2.0-dev.201610111739.214ae77 which included https://github.com/openvstorage/volumedriver/commit/214ae77d2069a6e22b7e88a3bbf9964a89f3e1cd and the XIO KEEPALIVE settings were changed to the Mellanox defaults(timeout=60, interval=20 and probes=3)
So those changes could also have had

[2016-10-18 08:52] redlicha commented on #146
To be exposed to the Edge server:
* `size_t get_cluster_multiplier()`: `ClusterMultiplier` used by the vpool
* `std::vector<ClusterLocation> get_metadata_page(VolumeHandle, ClusterAddress)`

The Edge server will in turn have to expose this to Edge clients.

[2016-10-18 11:23] wimpers commented on #126
Moved to Gilbert

[2016-10-18 11:24] wimpers commented on #124
Moved to Gilbert as non SRP

[2016-10-18 11:28] wimpers commented on #68
Moved to Gilbert as non SRP.

[2016-10-18 11:28] wimpers commented on #63
Moved to Gilbert as non SRP.

[2016-10-18 11:31] wimpers commented on #38
Moved to Gilbert an non SRP.

[2016-10-18 16:14] JeffreyDevloo commented on #128
### Information
After troubleshooting with @khenderick as to why the OVS-Workers just hang, I was referred to this ticket.
As he states, you can specify a timeout on the constructor of the client but to find a reasonable timeout to fit all the calls to the volumedriver is a terrible idea:
- Small calls could hang for potentially hours
- Long calls could be interrupted

### Current issue
When the n

[2016-10-19 11:53] redlicha opened #155 "Automated creation of documentation when creating releases"
Currently releases are driven by the git-flow tools which are used in their vanilla form (git flow release start / git flow release finish).
Since the documentation of config params has a tendency to go out of sync with reality, support for generating it (via `volumedriver_fs --config-help{,-markdown}`) was added. This should be integrated in the release workflow.

[2016-10-19 12:00] wimpers commented on #155
Should the script that updated the config.md not be part of https://github.com/openvstorage/framework-tools as that creates the builds?

[2016-10-19 12:04] redlicha commented on #155
VolumeDriver releases are completely independent from that. They're done with git-flow which ends up creating a new tag on master, which in turn triggers builds on jenkins that produce the various packages.
So the automation needs to happen during the git-flow release.

[2016-10-19 12:06] wimpers commented on #155
I understand but it is not because the volumedriver builds it that it ends up on the apt-repo for unstable. Only when the unstable apt-repo is updated config.md should be updated.

[2016-10-19 12:12] redlicha commented on #155
It actually pretty much is :)
To continue the above story: after these builds on jenkins were manually inspected / verified, they're "promoted", which triggers another jenkins job that does the upload.

[2016-10-20 07:59] redlicha opened #156 "libovsvolumedriver versioning"
Currently the .so version is 0.0.0 . Make sure that interface changes are reflected there in the future. Consider the package names as well.

[2016-10-20 09:42] cnanakos commented on #156
Libtool's -version-info flag during link mode can be used. The flag accepts an argument of the form ‘current[:revision[:age]]’. More info can be found on libtool's relevant page.

https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html

[2016-10-20 10:21] #156 closed

[2016-10-21 07:12] redlicha opened #157 "Edge client needs to be notified of volume migrations via API"
Otherwise it will keep on using the old owner and eventually trigger a move back.

[2016-10-21 07:15] redlicha commented on #138
Retesting / investigation shows that the DTL components themselves (Client + Server, tested with a standalone benchmark) show expected performance whereas when testing the whole stack, an extra latency of +/. 10 usecs is observed compared to the standalone test. Root cause still unclear.

[2016-10-21 14:28] redlicha commented on #138
The standalone benchmark benefits from `rpoll`s busy loop (before falling back to the `poll` syscall, configurable via `/etc/rdma/rsocket/polling_time`, default is 10 us) while in the benchmark for the full stack `rpoll` ends up in `poll`.

[2016-10-24 06:09] redlicha opened #158 "Prevent failover if DTL is degraded / not sync"

[2016-10-24 07:57] wimpers commented on #158
Do not that there should always be a force command possible. We don't want to be in deadlock where we can't move the volume as the DTL was degraded and the host owning the volume was down.

[2016-10-24 08:01] redlicha commented on #158
The `migrate` API call offers that.

[2016-10-24 08:04] khenderick commented on #158
@wimpers, if this "force" should be exposed though e.g. the API, please create a ticket on the framework repo for that. At this moment, we pass this parameter as ```False```.

[2016-10-24 09:31] saelbrec opened #159 "Build ovs-hypervisor starter packages for 16.04"
In order of priority:
* QEMU 2.5
* libvirt 1.3
* blktap

[2016-10-24 14:18] redlicha commented on #159
Moved to the respective repos:
https://github.com/openvstorage/qemu/issues/7
https://github.com/openvstorage/libvirt/issues/3
https://github.com/openvstorage/blktap/issues/3

[2016-10-24 14:18] #159 closed

[2016-10-25 07:53] redlicha opened #160 "Prevent HA events from occupying all WQ threads"
Idea: trigger stealing with `open` request opposed to actual I/O.

[2016-10-25 15:36] wimpers commented on #151
@arne do we need to fix this before we go live? Is this RDMA?

[2016-10-25 15:37] wimpers commented on #149
After discussion with stakeholders removed SRP label

[2016-10-26 07:59] redlicha commented on #151
@wimpers: this was observed with TCP.
I think it's not a showstopper as volumedriver should be able to recover on restart. Please note that this could however lead to a stale fuse mount being left, preventing a restart until that is cleaned up.

[2016-10-26 14:55] wimpers commented on #158
Please implement an error.

[2016-10-27 08:26] kvanhijf opened #162 "Consistency in errormessages when volume is stopped"
For a stopped volume (triggered by doing this:  vdisk.storagedriver_client.stop_object(str(vdisk.volume_id), False) ) we sometimes see RuntimeErrors for certain calls and MaxRedirectsExceededExceptions for other calls

Eg:
Truncate throws RuntimeError
[code]

Get DTL config throws MaxRedirectsExceededException
[code]

[2016-10-31 14:27] kvanhijf opened #163 "Set as template should not be possible when volume has children"
[code]

This error was witnessed in following situation:

1. Create vDisk
2. Clone the vDisk
3. Convert the original vDisk into template
4. Delete the clone --> above error

From the framework side, we now block the option to convert a volume into a template if clones are present, but the volumedriver should do the same

PS: Should we apply the same checks for rollback?  Rolling back a volume with

[2016-10-31 14:50] kvanhijf opened #164 "Expose list_clones call"
Would it be possible to introduce a call like "list_clones" or add additional information in volume_info about the clones of a volume (not necessary for recursive information)

This would come in very handy for the framework team

[2016-11-02 09:21] #42 closed

[2016-11-02 12:59] redlicha commented on #163
Rolling back a volume with clones should *not* be possible. VolumeDriver protects itself against this and - as pointed out - also should have protected itself against converting a volume with descendants to a template.
@wimpers, since this can lead to orphaned clones I think 'SRP' is in order.

[2016-11-02 13:06] redlicha commented on #164
Yes, it's possible - this information is kept in the ObjectRegistry. Exposing it via interfaces `ObjectRegistryClient` / `ObjectRegistration` types would make most sense.

[2016-11-04 09:08] JeffreyDevloo commented on #60
### Information
Seeing as it has been tested due to numerous tests on the OVH environment, we can conclude that this issue has been fixed.
Closing as requested.

[2016-11-04 09:08] #60 closed

[2016-11-04 09:28] redlicha opened #167 "Memory leak in GetVolumeURI call on Edge server side"
The `GetVolumeURIRsp` allocates memory for the response data from xio but never releases it.

[code]

[2016-11-04 10:55] redlicha commented on #167
valgrind is happy now:

[code]

[2016-11-07 07:10] pploegaert commented on #167
PASSED as valgrind test are ok

[2016-11-07 07:10] #167 closed

[2016-11-07 10:01] JeffreyDevloo commented on #75
The environment on which this occurred has been lost.
I have checked into migration issues in the past but this was one that failed to catch my attention.

My proposal is reopening this issue when it occurs again so I can properly focus solely on this ticket.

[2016-11-07 10:01] #75 closed

[2016-11-07 14:00] redlicha opened #168 "DTL sync status of write requests not correctly reported"
In `LocalNode::write_`, the `vd::DtlInSync` status is only reported correctly for unaligned writes, otherwise it is left unmodified from the original value, which in turn is left uninitialized by `NetworkXioHandler::handle_write`.

[2016-11-07 14:03] wimpers commented on #164
@kvanhijf  very handy for what exactly?

[2016-11-07 14:12] kvanhijf commented on #164
Now we keep this information in our model, which doesn't make sense.
We use this information to allow certain actions on disks such as deletion, convert to template, ...

[2016-11-08 08:01] redlicha commented on #168
The existing tests ( `volumedriver_fs_test, {Remote,Volume}Test.dtl_in_sync)` did not catch this as they entered the unaligned write path - together with the fix the tests have been amended to expose the issue / verify the fix.

[2016-11-08 08:02] redlicha commented on #163
Test: `volumedriver_fs_test, VolumeTest.no_template_creation_if_clones_are_present`

[2016-11-08 08:02] #163 closed

[2016-11-08 08:10] redlicha opened #169 "I/O request getting queued to old connection"
* I/O thread I: get `ContextPtr` C
* HA thread H: while holding mutex M: detect connection loss, create new `ContextPtr` C' and resend all inflight tasks using C'
* I: acquire M, submit new I/O with C
.

=> I obtaining C should happen under M as well

[2016-11-08 09:40] redlicha commented on #169
Not observed anymore in 200 iterations of `NetworkServerTest.ha_stress` whereas previously it was observed with that test.

[2016-11-08 15:19] redlicha commented on #151
More or less reliably reproducible with `NetworkServerTest.ha_stress` when that one is ran in a mode that gracefully shuts down the remote instance (opposed to killing it).
Inspection with gdb shows multiple invocations of the `volumedriverfs::LocalNode` dtor, caused by the `shared_ptr` instance being cleared in `ObjectRouter::shutdown_` while at the same time new `shared_ptr` instances are create

[2016-11-08 15:57] redlicha commented on #151
Not reproducible with the aforementioned test anymore.

[2016-11-08 16:30] #151 closed

[2016-11-08 16:31] redlicha commented on #168
Fixed in 6.3.3

[2016-11-08 16:31] #168 closed

[2016-11-09 14:41] cnanakos opened #171 "NetworkXioClient hang on shutdown"
Thread 6 (Thread 0x7fa649eff700 (LWP 2562)):
#0  0x00007fa6885879dd in pthread_join (threadid=140352882448128, thread_return=0x0) at pthread_join.c:90
#1  0x00007fa68725db97 in std::thread::join() () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#2  0x00007fa688854711 in libovsvolumedriver::NetworkXioClient::shutdown (this=0x122f400)
    at /opt/vmachines/jenkins_work/workspace/volumedriver-no-ded

[2016-11-09 15:01] cnanakos opened #172 "Prevent request accounting when HA is disabled"

[2016-11-10 14:12] #172 closed

[2016-11-10 14:13] redlicha commented on #171
Fixed in 6.3.4.

[2016-11-10 14:13] redlicha commented on #172
Fixed in 6.3.4

[2016-11-10 17:01] kinvaris commented on #169
@redlicha any way to easily test this by QA?

[2016-11-10 18:19] redlicha commented on #169
@kinvaris no, but the issue not being reproducible anymore in the voldrv tests gives enough confidence. Closing it (as also discussed with @pploegaert ).

[2016-11-10 18:19] #169 closed

[2016-11-11 08:58] redlicha opened #173 "Avoid idle prefetch thread per volume"
By default each volume has a prefetch thread which will prefetch SCOs to the SCO cache in the background e.g. after scrubbing or after restart *depending on the configuration*. By default we don't use that so the thread should not be started.

[2016-11-14 10:56] redlicha opened #176 "Failure to claim a namespace after creation leaks the namespace"
[code]

[2016-11-15 08:14] redlicha opened #177 "Use-after-free / double free in NetworkXioClient"
Observed with 6.3.3.
NB: the messages from xio are probably due to another issue (client does not get a response from server; very likely a networking misconfiguration as the client reports established TCP connections to the server, but the server does not report TCP connections to the client).

[code]
[code]

[2016-11-15 13:35] wimpers commented on #160
@redlicha isn't this one solved in  6.3.4 ? See https://github.com/openvstorage/volumedriver/releases/tag/6.3.4

[2016-11-15 14:26] redlicha commented on #160
@wimpers : the changeset in 6.3.4 *alleviates* the issue by having only one (instead of multiple) workqueue threads trigger the failover with a fairly simple change. It still leaves the issue that multiple failovers could occupy all WQ threads, which is addressed in another changeset by @cnanakos that will be included in the next release ( 07ae580bdb8ff4e2ce2a9dc65179f458904b4612 ).

[2016-11-15 14:57] cnanakos opened #178 "Introduce adaptive memory pool for edge server"
So far we don't know beforehand the memory usage on the server side neither the amount of the clients that are going to connect to that specific server or the IO depth that is being used, so we cannot beforehand specify the size of the memory pool.

Currently we allocate and register memory outside of the memory pool if it is exhausted leading to various problems e.g., RDMA disconnections.

The ad

[2016-11-15 19:23] saelbrec opened #179 "Edge HA needs locality knowledge in multi-dc vpool setups"
In a multi datacenter cluster setup where the vpool stretches across different datacenters the Edge HA random selection of a new volumedriver connection endpoint in case of failure can result in cross datacenter connections. This is sub-awesome and in most cases -depending on the network latency- not the desired behaviour as it can possibly have a big impact on performance.
In case Edge/volumedriv

[2016-11-16 08:52] wimpers commented on #179
In case the voldrv know about locality, we might be able to support live migration across the DCs with first invoking the API. In case the VM is moved and IO comes through a voldrv which is outside the HA locality, allow automated stealing.

[2016-11-16 10:07] matthiasdeblock commented on #128
Related issue discovered on a GIG environment:
[code]

[2016-11-16 11:14] wimpers commented on #179
I would say yes. First select a Storage Router which has the same Domain tag, if no Storage Routers available with the same Domain tag, select the Recovery Domain tag.

[2016-11-16 13:52] wimpers commented on #179
One remark:, in some cases you will have that DC 1 has DC2 as recovery domain and vice versa. So if Edge HA fails over to the other DC, no DTL will be set as all the Storage Routers in the recovery domain will be down.

[2016-11-16 14:31] pploegaert commented on #171
@dejonghb: can you pls validate this one in your fio test setup? thx

[2016-11-16 14:34] pploegaert commented on #176
@dejonghb: pls validate in fio test setup - thx

[2016-11-16 14:53] dejonghb commented on #176
Present state (where leaked namespaces were deleted by Arne, but were alba still had an issue) still appears to have too much namespaces which seems like some leak.
[code]
with 2x30 vdisks.
When vdisks are removed the amount goes down, and when recreating 2 more vdisks afterwards, indeed 2 extra namespaces are found.
Guess is the removal of namespaces was tried when alba had some issue and then th

[2016-11-17 08:04] redlicha commented on #176
FWIW, I've not deleted any namespaces manually, so could these still be a leftover from earlier tests where the leak was still present? Other than that your other hypothesis holds - if the namespace removal fails it is not retried. Similar as for #71 , a garbage collector would be desirable to take care of this.

[2016-11-17 08:09] redlicha commented on #128
@matthiasdeblock , this is *not* related: it indicates that a mgmt call failed because the volume it was directed at was not there (anymore).

[2016-11-17 08:37] wimpers commented on #178
Is this one related to https://github.com/openvstorage/volumedriver/issues/126

[2016-11-17 09:20] redlicha commented on #160
@khenderick as a FYI: the fix (released with https://github.com/openvstorage/volumedriver/releases/tag/6.4.0 ) introduces a new configurable to control the max number of threads for the control plane:
   network_interface/network_workqueue_ctrl_max_threads
   ** default value: 128
   ** not dynamically reconfigurable
.

[2016-11-17 09:36] dejonghb commented on #171
System now spinning happily, so issue is fixed.

[2016-11-17 09:41] #171 closed

[2016-11-17 09:43] redlicha opened #180 "Failure to create or open volume with Edge clients - server not accepting connections"
Related to:
http://tickets.openvstorage.com/browse/OVSSUP-131
http://tickets.openvstorage.com/browse/OVSSUP-114

Volume creation fails after a while, with this error being reported on the client side:
[code]

`qemu-img info` shows similar behaviour:
[code]

Investigation shows that the client reports established TCP connections to the server:
[code]

but the counterparts on the server side are mis

[2016-11-17 09:59] dejonghb commented on #176
These extra namespaces most probably are a leftover from when things were still going wrong. Now that the system is happy, nothing is being leaked. Untill there's some garbage collector there's still the potential of leaked namespaces if part of the system is not happy/healthy resulting in failure with removing the namespace. Now the removal is tried, so I'm closing this ticket (#71 mentions the g

[2016-11-17 09:59] #176 closed

[2016-11-17 10:40] matthiasdeblock commented on #128
My previous post wasn't correct, the message below has something to do with the timeout. According to @redlicha the only thing here is to debate if whether that timeout was maybe too long or too short.
[code]

[2016-11-17 10:53] matthiasdeblock opened #181 "Filesystem error message in volumedriver logfile"
The volumedriver did not start due to a filesystem error on the DB disk. According to @wimpers, this message can be more user friendly.

[code]

According to @redlicha, this is a translation of an error from the kernel / filesystem.

[2016-11-17 11:12] redlicha commented on #181
To elaborate (a bit): this a standard, but rarely seen error returned by the kernel:
[code]

[2016-11-17 12:38] redlicha commented on #180
So far only observed on a single node during the tests ("stor-04").
Incidentally, as of this morning this node is reporting MCEs - it's not clear at this moment if they could be related in any way:
[code]

[2016-11-17 12:54] redlicha commented on #180
Another finding in dmesg:
[code]

[2016-11-17 13:13] saelbrec commented on #180
Similar issues reported by customer when trying to connect to volumes on stor-05 node:

[code]

[2016-11-17 13:35] redlicha commented on #180
@saelbrec: I think this is unrelated. The client/server communication on stor-05 is working as expected.

[2016-11-17 15:59] redlicha opened #182 "Empty string instead of URI in Edge client location check"
* location check - no change detected
[code]
* location check - for some reason an empty URI is now used which is != the previous URI which in turn triggers an attempt to reconnect to the new one. This fails and the connection is left untouched.
[code]
* ditto:
[code]
* back to normal
[code]

[2016-11-18 08:43] redlicha commented on #180
Re SYN flood: code inspection of accelio shows that it has a hard-wired `listen` backlog of 4:
https://github.com/accelio/accelio/blob/v1.7/src/common/xio_server.c#L323

[2016-11-18 08:47] redlicha commented on #182
accelio has a hard-wired listen backlog of 4:
https://github.com/accelio/accelio/blob/v1.7/src/common/xio_server.c#L323
Hypothesis: the client cannot connect due to this, this error is however not reported and the empty string that was supposed to be filled in with an URI is used instead.

[2016-11-18 10:11] wimpers opened #183 "Improved scrub regions"
If region scrub  fails don’t rescrub the regions before ( this will require a new approach for scrubbung)

[2016-11-18 12:04] redlicha opened #184 "Failure to open or create volumes with Edge clients in overload situations"
While investigating #182 / #180 : accelio's `listen` backlog is hard-wired to 4. If multiple clients try to connect at the same time (which also happens as part of the "location check"!), some clients might run into errors. Modelling this with a test that creates a volume and then opens it from a number of threads which in turn will then issue `get_volume_uri` requests for a certain amount of time

[2016-11-18 13:05] redlicha commented on #184
Accelio's backlog was set to "4" to support iWARP in kernel mode: https://github.com/accelio/accelio/commit/0266a035d4184bd79a7bd46bbfa32639a545c094

[2016-11-21 08:29] redlicha commented on #184
Addressed by 1.7.2-0ovs1 accelio packages.

[2016-11-21 08:56] redlicha commented on #173
Closing it as this is not something that needs verification by QA.

[2016-11-21 08:56] #173 closed

[2016-11-21 14:04] redlicha commented on #179
Idea: Represent the topology as a (fully connected) graph with weighted edges. When a client requests the list of cluster members from a volumedriver, all adjacent vertices and the cost to get there are reported.
Based on these costs, clients can decide which node to failover to, using the current random choice strategy in case of multiple neighbours with the same cost.
The list of neighbours is

[2016-11-21 14:17] #181 closed

[2016-11-22 14:11] redlicha commented on #179
After discussion with @cnanakos: the client/server protocol change can be avoided by modifying the client to pick the failover target *in order* from the list of neighbours instead of picking a random one (currently,  or looking at a yet to be introduced `Cost`).

[2016-11-23 08:22] redlicha opened #185 "Migrate request timeout instead of a timeout response triggers undesired stealing"
A migrate call timed out as the previous owner was still busy syncing the volume to the backend (expected:  a timeout response). The migrate call should not have fallen back to stealing.

Related to #139.

[2016-11-23 08:33] redlicha commented on #185
* requester:
[code]
* responder:
[code]

[2016-11-23 11:02] wimpers commented on #147
Todo:
* the ability to start a volume off the archive directly (disaster and test)
* clone a volume off the archive even though the main alba is present so that tests can be carried out
* the purpose is to create a clone off the volume in the archive tier directly even though the volume driver is a part of the same logical cluster
* Not included: scrubber piece

[2016-11-23 14:03] wimpers opened #186 "Integrate our FUSE driver with the edge"
One (wild) idea to support OpenStack is to have a fuse mountpoint on each NOVA host. The fuse would in that case interact with the edge on the same host. The edge would in that case interact with the voldrv.

[2016-11-23 16:06] wimpers commented on #186
There was also the idea to create a library that provides block and filesystem semantics earlier on. Also with the same library we have the possibility to compile the nfs-ganesha module outside of the code base and not link it directly with the voldrv. The same can be used to implement a fuse endpoint also.

[2016-11-24 16:20] redlicha opened #187 "Edge client needs to refresh the list of cluster node members periodically"
... to be able to react to topology changes.

[2016-11-24 17:09] khenderick commented on #179
@redlicha, makes sense.

The new argument to the ```ClusterNodeConfig``` will be a list which contains all costs for the other nodes from that volumedriver's viewpoint. If I don't add a given other node to the list, will the cost be assumed to be infinite, or 0?

I assume this will be dynamically reconfigurable by the ```set_node_configs```?

[2016-11-25 08:51] redlicha commented on #179
@khenderick: tentatively (PR will follow soon):
* the `Distance` will be represented by a `uint32_t` with the following semantics: `0` = very close, `2**32-1` = very far away
* the neighbours of a node are represented with a dict `NodeId -> Distance` (`NodeId = str`) instead of a list (rules out duplicate nodes), if a node is absent there this indicates that there is no connection to it / it's inf

[2016-11-25 13:43] redlicha opened #188 "Edge client handles responses with lists (of snapshots, cluster node uris, ...) incorrectly"
[code]
`idx` is always incremented by the length of the first element and not by the length of the current element.

[2016-11-28 13:11] wimpers commented on #179
@redlicha is there something build-in to prevent a migration to happen if the cost is above a certain threshold? If there are only nodes with a 2**32-1  you might decide not to move.

[2016-11-28 13:17] redlicha commented on #179
Yes - the configurable mentioned above which ended up being called `network_interface/network_max_neighbour_distance` in the actual implementation. Any node with a distance >= that value is hidden from clients. Only nodes with a distance < that value are reported to clients  in order of preference (shortest distance first, order of equidistant nodes is randomized on the server side).

[2016-11-28 13:26] redlicha commented on #179
@khenderick : NB: when upgrading existing clusters to a version with this feature, all cluster members need to be updated first before making changes to the registry (adding distance information).

[2016-11-28 14:16] khenderick commented on #179
@wimpers, the above upgrade requirement basically adds a dependency to openvstorage/framework#1224

[2016-11-28 16:47] wimpers commented on #179
@redlicha why can't the voldrv deal with that additional parameter in the config. Can't it just ignore it?

[2016-11-28 18:18] redlicha commented on #179
It's not about the additional parameter in the config - it's about the additional topology information in the ClusterRegistry which is serialized with boost::serialization. Due to the current representation of the serialized data structure (everything's read from a stream, skipping unknown/newly introduced fields is not trivial) the above approach is easiest. In this special instance we could work

[2016-11-29 08:29] wimpers opened #191 "Better handling of topology information"
This is a continuation of https://github.com/openvstorage/volumedriver/issues/179 . Currently it is required to update all voldrv before updating the framework in case the format of the  topology information is changed.  The ClusterRegistry which is serialized with boost::serialization and hence due to the current representation of the serialized data structure (everything's read from a stream, sk

[2016-11-29 08:30] wimpers commented on #179
@redlicha updating the voldrv before the framework is something we should use  as a last resort but we should be able to run mixed versions. Assume you have a large environment, I will not be able to guarantee for 100% of the cases that all voldrv will be there. I'll create a [FR](https://github.com/openvstorage/volumedriver/issues/191) for allowing new, to be skipped fields.

[2016-11-30 09:43] redlicha commented on #146
WRT `get_cluster_multiplier`: on second thought it's better to not encode the current state of a all volumes of a vpool having the same `ClusterMultiplier` there and to instead query it per volume:
[code]

[2016-12-01 22:17] redlicha commented on #185
Test: `RemoteTest, forceful_migration_with_fencing_enabled`.

[2016-12-01 22:17] #185 closed

[2016-12-01 22:17] redlicha commented on #182
Test: `NetworkServerTest.get_volume_uri_errors`.

[2016-12-01 22:17] #182 closed

[2016-12-01 22:19] redlicha commented on #188
Test: `NetworkServerTest.list_snapshots`.

[2016-12-01 22:19] #188 closed

[2016-12-02 08:34] saelbrec commented on #128
Updated the ticket to milestone Fargo RC2 as 1 unresponsive volumedriver makes all framework calls to take ages.
The only workaround to release the mangement calls and interface is shutting down the affected volumedriver. But without an interface one needs to look under the hood to identify the malfunctioning volumedriver instance.

[2016-12-02 12:17] wimpers opened #194 "Change configurables: volume_manager/dtl_{connect,request}_timeout_ms:"
based upon https://github.com/openvstorage/framework/issues/1234 set the current defaults in the voldrv to sane values (1 sec was proposed)

[2016-12-02 12:46] kinvaris commented on #92
Added to volumedriver documentation: https://github.com/openvstorage/volumedriver/pull/175

[2016-12-02 12:46] #92 closed

[2016-12-07 08:41] pploegaert commented on #180
Related to: http://tickets.openvstorage.com/browse/OVSSUP-131

[2016-12-07 10:13] kinvaris opened #196 "`fs_dtl_config_mode Automatic` causes volume creation to take a long time"
We've observed this issue on a gig environment. When performing a `truncate -s 10G test.raw`, the volume creation was hanging for approx. 5 minutes. as seen in the log files.

If we take a closer look you can see that the volume creation is stuck on `Setting the failover cache to foc://10.109.3.43:26202,Asynchronous`
[code]

After changing the volumedriver config parameter `fs_dtl_config_mode` fro

[2016-12-07 10:19] redlicha commented on #196
On that particular environment we've observed networking related problems in the past that lead to - tar-pitted connection attempts to the DTL. Related: https://github.com/openvstorage/volumedriver/issues/194

[2016-12-07 15:40] redlicha opened #197 "Revisit `InsistOnLatestVersion::F` when fetching TLogs"
Currently `OneFileTLogReader` does not insist on the latest TLog version. In general this should not be a problem as TLogs are not supposed to be overwritten with different versions - except that certain tests do exactly that.
Verify that the invariant holds (no overwrites with different versions) and/or invalidate backend caches at appropriate points. (don't use `InsistOnLatestVersion::T` generic

[2016-12-08 09:45] khenderick commented on #128
@saelbrec, @wimpers, this adds a dependency from framework to a specific version of the volumedriver. This introduces a possible issue with the framework being updated before the volumedriver, making calls with a parameter that doesn't yet exists. Can you choose one of these possible solutions:
* Fix #1253
* Write some new wrapper around the storagedriver client that can cope with such changes (e.

[2016-12-08 13:47] pploegaert opened #198 "live migrate has non-deterministic outcome"
As observed on OVH demo environment

Scenario: vm running fio, migrate to another location

Observed outcome: intermittent failure/success

VM had read-only fs, it got an IO error and for some reason HA kicked in

Potential issue: race between threshold on voldrv side and edge following, as suggested by @redlicha: the threshold on voldrv side could be set to 0, but this might not be what we want i

[2016-12-08 14:47] redlicha commented on #198
Observation:
13:10:22: successful auto-migration of V from R1 -> G5
13:12:31: R1 steals V due to a request timeout, fencing kicks in on G5

* DTL is configured to be in asynchronous mode (= volume stealing should only be possible under certain conditions)
* V was choking on G5 around the time of the timeout

[2016-12-08 15:07] redlicha commented on #198
Related: #139

[2016-12-08 15:34] saelbrec commented on #180
Although we believe this issue has nothing to do with https://github.com/openvstorage/volumedriver/issues/184 we were not able to reproduce since the environment was updated with 1.7-2ovs1 accelio packages.
Issue will be reopened if necessary.

[2016-12-08 15:34] #180 closed

[2016-12-08 21:55] redlicha commented on #194
Default value was changed to 1000 ms:
[code]

[2016-12-08 21:55] #194 closed

[2016-12-12 08:02] redlicha commented on #198
In that particular case, the race of auto-migration vs. client reconnecting to the location was not coming into play, but rather a trigger happy HA stealing the volume.

[2016-12-12 11:18] redlicha commented on #187
Released with 6.5.0

[2016-12-12 11:18] #187 closed

[2016-12-12 13:17] wimpers commented on #198
Duplicate of https://github.com/openvstorage/volumedriver/issues/139

[2016-12-12 13:17] #198 closed

[2016-12-12 13:29] wimpers commented on #197
What needs to be done with this one?

[2016-12-12 13:42] wimpers commented on #196
Re-open if needed.

[2016-12-12 13:42] #196 closed

[2016-12-12 13:44] redlicha opened #199 "Volume stealing needs to take `DtlInSync` into account"
While on the edge client side the `DtlInSync` is consulted on HA, redirected requests between voldrv's do not make use of it yet, leading to volumes possibly being stolen despite the DTL not being in sync. E.g. observed e.g. in #198

[2016-12-12 14:07] openvstorage-ci opened #200 "cannot create vdisk use qemu"
_From @hoanhdo on December 12, 2016 11:16_

I running openvstorage in ubuntu 16.04.
I create disk use
`qemu-img convert CentOS-6-x86_64-GenericCloud.qcow2 openvstorage+tcp:172.16.86.132:26203/vdiskdemo`
Error log
`qemu-img: openvstorage+tcp:172.16.86.132:26203/vdiskdemo: error while converting raw: cannot create volume: Input/output error`

_Copied from original issue: openvstorage/framework#1262_

[2016-12-13 00:01] saelbrec opened #201 "Lowering the number of metadata cache pages requires volumedriver restart to free the memory"
Lowering the metadata page capacity for a certain volume does not immediately free up the memory used. It apparently requires a volumedriver restart. Did not test a single volume restart, maybe that suffices as well?

[2016-12-13 08:33] redlicha commented on #201
A volume restart should indeed take care of this

[2016-12-13 19:59] redlicha opened #204 "Exception escapes dtor of MDSMetaDataBackend"
... causing a premature termination of the process

[code]

[2016-12-14 03:07] hoanhdo commented on #200
while debug i found log in nginx.
`
2016/12/14 10:05:52 [error] 4733#4733: *933 connect() failed (111: Connection refused) while connecting to upstream, client: 172.16.86.1, server: , request: "GET /api/vdisks/?page=1&page_size=10&sort=devicename&contents=_dynamics%2C_relations%2C-snapshots&query=%7B%22type%22%3A%22AND%22%2C%22items%22%3A%5B%5B%22is_vtemplate%22%2C%22EQUALS%22%2Cfalse%5D%5D%7D&tim

[2016-12-14 07:51] wimpers commented on #204
What is the resultaten of this error? Rebuild of the metadata?

Op 13 dec. 2016 8:59 p.m. schreef "Arne Redlich" <notifications@github.com>:

[2016-12-14 08:06] redlicha commented on #204
It does not cause a metadata rebuild. In the above case voldrv was shutting down and for some reason yet to be investigated the exceptional path was entered while shutting down a volume, leading to a termination of the process.
Prevention of that is a fairly simple fix so I'd advocate putting it into Fargo RC2.

[2016-12-15 10:17] wimpers commented on #177
After discussion with @redlicha @cnanakos  set to can't reproduce. We have seen this once on an old version.

Re-open if needed.

[2016-12-15 10:17] #177 closed

[2016-12-15 14:42] wimpers opened #206 "Multiple proxies per volumedriver"
In https://github.com/openvstorage/framework/issues/1274 the framework will set up 8 proxies per voldrv. This ticket is to make sure the voldrv can use these 8 proxies. Each namespace should go to 1 specific proxy of the 8 proxies.

[2016-12-16 08:51] redlicha commented on #206
@khenderick: volumedriver currently has a(n unused by OVS) `MULTI` backend config (previous use case: specify fallback paths that are used in case of connection errors, only supports `LocalBackend` these days). The idea is to reanimate this, adding support for `ALBA` backends. Example (with `LocalBackend`):

[code]

[2016-12-16 08:56] khenderick commented on #206
@redlicha, will there be a particular order in the different backends (```0```, ```1````, ...)

[2016-12-16 09:34] pploegaert opened #207 "Provide means to startup volumedriver without automatically starting all volumes and manage/remove volumes"
Related to:
http://tickets.openvstorage.com/browse/OVSSUP-140
http://tickets.openvstorage.com/browse/OVSSUP-148

In this case we'd have to remove certain volumes as the system was overprovisioned x times
This caused the system to grind down to an almost halted state so it would take us days to cleanup most of the volumes.  Which we were allowed to do.
In order to avoid to revert to a complete rein

[2016-12-16 09:44] dejonghb opened #208 "unexpected stop / restart"
During a (repeated) testrun the voldrv unexpectedly stopped and got restarted.

Also results in a metadata problem afterwards.

[code]

syslog has entries that hint to a restart:
[code]

[code]

Reproducable when rerunnnig the tests; but at different times.

[2016-12-16 09:49] dejonghb commented on #208
[code]

[2016-12-16 10:30] dejonghb commented on #208
Version 6.6.0-0 was used for testing.

[2016-12-16 10:59] redlicha commented on #208
Not a volumedriver problem:
[code]

@dejonghb : please create tickets for alba / fwk if necessary and afterwards close this one.

[2016-12-16 11:08] dejonghb commented on #208
I don't see a syslog entry about core dumping around 23:15, still there was a trace of a voldrvr restart then as well?

[code]

[2016-12-16 11:09] dejonghb commented on #208
Also should the voldrvr restart when the alba proxy decides to drop core or is this a fallout due to the "won't fix" of https://github.com/openvstorage/alba-asdmanager/issues/157 ?

[2016-12-16 11:41] redlicha commented on #208
voldrv should not restart if the proxy goes away - https://github.com/openvstorage/framework/issues/1149 might have to be reopened (@khenderick)?

wrt the restart around 23:15: the hard kill will have left a stale fuse mountpoint, so voldrv restarts fail (with "Transport endpoint is not connected") until that is rectified. How that eventually got resolved so the voldrv restart could succeed is not

[2016-12-16 11:55] redlicha commented on #208
To be investigated: long / slow restart.

[2016-12-16 11:55] dejonghb commented on #208
FWIW: alba proxy was fine after the restart from 22:55:27 ...
Logfile from tests was last appended around the same time, so tests are not expected to have still been running around 23:09:27.

[2016-12-16 11:58] dejonghb commented on #208
At 23:15:27 systemd decides it needs to restart the voldrvr?
[code]

[2016-12-19 09:08] wimpers opened #209 "Catch error in case there is no RDMA device and show meaningful error"
[code]

DTL is configured to use RSocket, but it looks like there's no RDMA device / the wrong one is specified.

[2016-12-19 09:09] wimpers commented on #209
This line gives away there is no RDMA device

`2016-12-17 08:13:18 932460 -0800 - ubuntu-16 - 24199/0x00007fcd2ef50740 - dtl_server//usr/bin/failovercache - 0000000000000005 - fatal - operator(): caught exception: socket  No such device (19)`

[2016-12-19 09:09] wimpers commented on #209
from @redlicha

[2016-12-19 12:47] openvstorage-ci opened #210 "package dependency centos 7 15.11"
_From @hoanhdo on December 13, 2016 4:32_

I run install openvstorage in centos 7 15.11
yum install --nogpgcheck --enablerepo=fc22 librbd1 librados2 gcc volumedriver-server -y.
This is my log.

[code]

_Copied from original issue: openvstorage/framework#1263_

[2016-12-20 18:48] redlicha opened #212 "PeriodicAction interval changes are only picked up on the next scheduled run"
Example: `stats_collector/stats_collector_interval_secs` has a default value of 6000. It can be dynamically reconfigured but the current interval is not interrupted, so in the worst case it takes almost 6000 seconds until the new value becomes effective.

[2016-12-20 22:02] redlicha opened #213 "Local volume restart taking very long due to DTL connect timeout not being used"
Scenario:
* write to volume, wait for all TLogs / SCOs that are in flight to hit the backend, leave unfinished local TLogs
* shut down volumedriver
* remove disposable SCOs from local cache
* on restart, the following is observed:
[code]

The `dtl_connect_timeout` was however configured to 1000 milliseconds, and the DTL was also running:
[code]

[2016-12-20 22:09] redlicha commented on #213
NB: env is RDMA capable. Since the DTL code probes for RSocket first it might be related to that?

[2016-12-20 22:35] redlicha commented on #213
=> dtl_connect_timeout is not used in this code path, instead the default value is passed in.
(NB: the env where this was observed is RDMA capable)

[2016-12-21 10:15] JeffreyDevloo commented on #53
### Information
Verified due to https://github.com/openvstorage/framework/issues/727 being verified.

[2016-12-21 10:15] #53 closed

[2016-12-21 14:15] redlicha opened #214 "Backward incompatibility in edge protocol"
Observed while testing a dev build, very likely introduced with #203 (part of #146) . Either backward compatibility needs to be restored or the breakage needs to be documented / a new major version for the client lib introduced.
@wimpers , @saelbrec : this needs to happen before releasing RC2.

[2016-12-21 14:22] pploegaert commented on #214
I'd prefer to have this fixed ...

[2016-12-21 14:23] wimpers commented on #214
Updating the edge client and server at the same time is required.

[2016-12-21 14:28] redlicha commented on #214
@wimpers: IOW accept the breakage and bump the library version?

[2016-12-21 14:38] cnanakos commented on #214
What is the problem bumping the client lib version and install the latest and greatest edge client package?

[2016-12-21 16:47] redlicha commented on #213
Looking at the code, a DTL fetcher (that connects to the DTL) is instantiated "just in case", i.e. afterwards the SCO cache is consulted and if the SCO is found there (which is the more likely case), the DTL will not be used. So as a future improvement connecting to the DTL could be delayed?

[2016-12-21 16:59] domsj opened #215 "Work around buggy alba proxy in case multiple proxies are configured"
In case of bugs in the alba proxy (such as https://github.com/openvstorage/alba/issues/449 & https://github.com/openvstorage/alba/issues/461) it would be nice if the volumedriver could fall back to one of the other alba proxies it knows about.
(This gives the monitoring some time to pick up on the buggy proxy and e.g. restart it)

[2016-12-21 17:39] redlicha commented on #215
related to #206

[2016-12-22 07:53] wimpers commented on #214
I propose to bump the client lib version and install the latest and greatest edge client package. Hence this doesn't require any work from the voldrv team and can be closed with won't fix.

@saelbrec if you disagree please re-open and assign to the right person.

[2016-12-22 08:01] redlicha commented on #214
Reopening and assigning to @cnanakos as the library version still has to be bumped.

[2016-12-22 08:16] dejonghb commented on #214
You guys are aware that clients (for example kernsafe iscsi setups) can be on completly different systems that are totally unware of anything changing at the server (openvstorage) side, right?

[2016-12-22 08:23] pploegaert commented on #214
does this also require restarting certain components?  As this might not always that easy on a production environment.

Perhaps we can have the client lib log/return that it is incompatible with the server version, to avoid losing time debugging these incompatibilities

[2017-01-02 21:00] redlicha opened #217 "Local volume restart reads too many TLogs"
The volumes under test have not been written to but accumulated a number of (empty) TLogs due to automated snapshotting.

`SnapshotManagement::getLastSCOInBackend` walks over the TLogs backwards to find the last clusterlocation (with the aim of eventually identifying the last one on the backend). Together with a slow backend (due to disqualified ASDs) this *considerably* delays volume restarts.

[

[2017-01-03 19:10] redlicha opened #218 "Broken packaging after libovsvolumedriver version bump"
The packaging scripts still refer to the 0.0.0 so version

[2017-01-04 08:11] #218 closed

[2017-01-04 08:11] redlicha commented on #218
Package creation succeeds now.

[2017-01-04 10:09] redlicha opened #219 "Integrate Alba client lib with ASD client functionality"
https://github.com/openvstorage/alba/issues/545

[2017-01-06 12:15] matthiasdeblock opened #220 "Unexpected high memory usage of volume drivers after a 12 hour load test"
http://tickets.openvstorage.com/projects/OVSSUP/queues/2/OVSSUP-161

After a 12 hour load test on a moderately loaded environment, volumedriver_fs processes show an unexpected high amount of memory usage.

Load test:
- 14 volumes of 100 GB per volumedriver
- 12 hours of capped fio tests on 2k iops

Top output:
[code]

VDisk distribution:
[code]

[2017-01-08 22:29] redlicha opened #221 "I/O error due to bad_weak_ptr exception"
Observed during testing:
[code]

[2017-01-09 09:42] wimpers commented on #220
I had a talk with @fastgeert and he noticed the high memory usage on voldrvs which had many clones (bootdisks and cloudinit) while the ones with datadisks didn't see the issue.

[2017-01-09 10:05] kvanhijf opened #222 "JSON verification of volumedriver config is too trigger happy"
Original configuration with which we first started the volumedriver process

[code]

During our update we switch from ```backend_type``` ALBA to MULTI and end up with this configuration
[code]

But this error is thrown in the log
[code]

Minor issue since voldrv process managed to start and read/write actions are possible

[2017-01-09 10:55] saelbrec commented on #220
@pploegaert ,
Is there any integration test that could tell us of this is regression or has always been there?

[2017-01-09 12:08] redlicha opened #223 "Removal of volume that failed to restart leaks backend namespace"
[code]

[2017-01-09 14:12] JeffreyDevloo opened #224 "Snapshotting a non-running volume results in maxredirect error"
### Problem description
Whilest investigation why certain volumes did not have any snapshots on one of our environments, I came across the following error:

[code]
This disk had the dtl_status unknown and was not running (failed to start due to full asds)

The issue is that I do not expect a MaxRedirectException but a NotRunningException or something like that.

[2017-01-09 14:26] redlicha commented on #224
At the moment this is expected behaviour.
Background: there's a race between a mgmt call locating an object and the object migrating between nodes:
* mgmt call C is executed on node X, object is not running there -> object location is looked up (node Y), C is redirect to Y
* Y is moved to node Z
* C is executed on Y

. The number of redirects is limited, so if an object cannot be found it's not cl

[2017-01-10 10:36] redlicha commented on #219
@khenderick, FYI : a new configurable `backend_connection_manager/alba_connection_asd_connection_pool_capacity` was introduced: `size_t`, default value 5, not dynamically reconfigurable.

[2017-01-10 13:58] kvanhijf opened #225 "Implement volumedriver_fs --config-help-json option"
The volumedriver allows to print the configuration documentation in markdown format using following command: ```volumedriver_fs --config-help-markdown```
It would be nice to have a similar command to return this output in json format
eg:
[code]

[2017-01-10 13:59] wimpers commented on #225
@kvanhijf why would you need the help in json format? Do you have a use case

[2017-01-10 14:02] kvanhijf commented on #225
Working on https://github.com/openvstorage/framework/issues/1239 and to be able to add some validations (easier), it would be nice to have

[2017-01-10 14:05] wimpers commented on #222
@redlicha do you consider this an issue?

[2017-01-10 14:08] wimpers commented on #225
Why would you need validation in openvstorage/framework#1239  Just relaod the config and barf if it fails.

[2017-01-10 14:10] redlicha commented on #222
@wimpers yes, but of minor importance: the issue is that the config verification code logs a false positive ("unknown entries") for a valid configuration.

[2017-01-10 14:11] kvanhijf commented on #225
Might be nice for a customer to know that reconfiguring parameters that are not dynamically configurable won't have effect

[2017-01-10 14:21] wimpers commented on #225
Lets take that up in another ticket.

[2017-01-10 15:45] kinvaris commented on #219
FAILED: regression test showed this result
https://github.com/openvstorage/alba/issues/560

[2017-01-10 16:23] redlicha opened #226 "Decouple buildtools / volumedriver releases and packaging"
Releases are based on git tags (snapshots of the volumedriver source tree). The packaging is based on releases, which causes problems in conjunction with buildtools, e.g. the static linking of the alba client lib:
a bug there requires building new volumedriver packages but not necessarily code changes (= new release) of volumedriver.

[2017-01-10 16:50] redlicha commented on #219
The failed test is not related to the voldrv integration.

[2017-01-10 16:56] wimpers commented on #158
Closed by PM.

[2017-01-10 16:56] #158 closed

[2017-01-10 16:57] wimpers commented on #144
Closed by PM.

[2017-01-10 16:57] #144 closed

[2017-01-10 16:57] wimpers commented on #157
Closed by PM.

[2017-01-10 16:57] #157 closed

[2017-01-10 16:57] wimpers commented on #153
Closed by PM.

[2017-01-10 16:57] #153 closed

[2017-01-10 16:57] wimpers commented on #140
Closed by PM.

[2017-01-10 16:57] #140 closed

[2017-01-10 16:58] wimpers commented on #138
Closed by PM.

[2017-01-10 16:58] #138 closed

[2017-01-10 16:58] wimpers commented on #129
Closed by PM.

[2017-01-10 16:58] #129 closed

[2017-01-10 16:58] wimpers commented on #101
Closed by PM.

[2017-01-10 16:58] #101 closed

[2017-01-10 16:58] wimpers commented on #103
Closed by PM.

[2017-01-10 16:58] #103 closed

[2017-01-10 16:58] wimpers commented on #80
Closed by PM.

[2017-01-10 16:58] #80 closed

[2017-01-10 16:59] wimpers commented on #62
Closed by PM.

[2017-01-10 16:59] #62 closed

[2017-01-10 17:05] wimpers commented on #214
Closed by PM.

[2017-01-10 17:05] #214 closed

[2017-01-11 08:43] kvanhijf commented on #225
@redlicha , as an additional request, perhaps let the 'update_configuration' method in the LocalStorageRouterClient also return the 'section_name'
Currently this returns the 'param_name', 'old_value' and 'new_value', but if you ever make that change that keys can be identical between sections, this might be interesting information to return too

[2017-01-11 08:59] redlicha commented on #225
@kvanhijf , please open a separate FR for that.

[2017-01-11 09:17] kvanhijf opened #227 "Return 'section_name' in 'update_configuration' output"
Perhaps let the 'update_configuration' method in the LocalStorageRouterClient also return the 'section_name'.
Currently this returns the 'param_name', 'old_value' and 'new_value', but if the volumedriver team ever makes the change that keys can be identical between sections, this might be interesting information to return too

[2017-01-11 09:17] kvanhijf commented on #225
ok, thought this would be very small change
https://github.com/openvstorage/volumedriver/issues/227

[2017-01-11 10:01] kinvaris opened #228 "when scocache_mount_point size is smaller than backoff_gap the volumedriver should refuse to startup"
We've seen the following error in a volumedriver with the following config:

[code]

[code]

[2017-01-11 10:05] redlicha commented on #228
To elaborate / summarize our out-of-band discussion: the sco cache config is nonsensical (trigger gap = mountpoint size, backoff gap > mountpoint size) and should be refused right away.
Instead voldrv currently starts up but then refuses to create volumes as the cache config does not permit volume creation:
[code]

[2017-01-11 10:14] redlicha commented on #221
Test: `volumedriver_fs_test`, `LocalNodeTest.maybe_retry`

[2017-01-11 10:14] #221 closed

[2017-01-11 10:20] redlicha commented on #204
Closing, fix was trivial.

[2017-01-11 10:20] #204 closed

[2017-01-11 10:24] redlicha commented on #199
Test: `volumedriver_fs_test`, `NetworkServerTest.{steal_remote_volume_if_dtl_is_in_sync,dont_steal_remote_volume_if_dtl_is_not_in_sync}`

[2017-01-11 10:24] #199 closed

[2017-01-11 10:38] #184 closed

[2017-01-11 10:40] #178 closed

[2017-01-11 10:41] #146 closed

[2017-01-11 10:41] #126 closed

[2017-01-11 10:42] cnanakos commented on #81
@wimpers Do we still need this issue open?

[2017-01-11 12:20] redlicha opened #229 "Partial read fails, referencing an outdated SCO"
[code]
[code]

A new version exists:
[code]

[2017-01-11 16:42] redlicha commented on #229
affected namespace `6843d2a9-d402-4682-8e62-7d6ac3268d02`:
[code]

checking the TLogs on the backend (`alba listobjects`) with the volume's idea of TLog names (local `snapshots.xml` dump, using `volumedriver.toolcut.ToolCut.SnapshotPersistorToolCut`) matches expectations (the last TLog is still open and as expected not yet on the backend):
[code]

* reading from the volume itself succeeds, creatio

[2017-01-12 08:21] redlicha commented on #229
Code inspection shows that the `ScrubManager` assumes that templates do not have non-template ancestors, which is however not enforced on template creation.

[2017-01-13 09:13] wimpers commented on #219
Putting it to state_verification  see last comment of Arne

[2017-01-16 10:43] wimpers commented on #81
After discussion with stakeholders, keeping it in this state. The egg hasn't been layed yet whether to do or not do it.

[2017-01-16 13:45] wimpers commented on #228
Minimal write buffer should be bigger than trigger_gap and backkoff_gap.

[2017-01-16 13:47] wimpers commented on #226
@redlicha how much work is this?

[2017-01-17 09:08] redlicha opened #230 "Scrubber hangs when logging to stderr"
Possibly caused by a pipe buffer filling up and not being drained via the read end.

[2017-01-17 09:17] redlicha commented on #220
Hypothesis for now: on the same env we observed a case where volumedriver "locked up" in the I/O path: I/O threads were waiting for a lock in `DataStoreNG` with no other thread being identifiable as owning the lock. Indirectly this caused mgmt calls to pile up, which in turn lead to excessive memory consumption.

[2017-01-17 09:32] redlicha commented on #197
It's a TODO item to verify that certain assumptions hold - schedule for RC3?

[2017-01-17 09:49] redlicha opened #231 "Increase stream buffer size in DTL FileBackend"
The code uses a C fstream, which has an (empirically determined) stream buffer size of 4k, while writes are generally >= 4k (possibly multiple entries + metadata). Suggestion: 128k?

[2017-01-17 19:04] redlicha opened #232 "'alba_connection_asd_connection_pool_capacity' value is not propagated to alba client lib"
Instead the default value is used:

[code]

vs.

[code]

[2017-01-18 09:32] redlicha commented on #232
Config is now passed on correctly:
[code]

[2017-01-18 09:32] #232 closed

[2017-01-18 13:53] wimpers commented on #200
@hoanhdo is this still an issue? It seems there was more wrong with your environment as the api isn't working?

[2017-01-18 14:14] #210 closed

[2017-01-19 01:56] hoanhdo commented on #200
@wimpers
Yes . I reinstall OS and openvtorage but no working. I will retest in next version.

[2017-01-19 09:42] redlicha opened #234 "Overriding the allocator in the volumedriver_fs.sh wrapper script is broken"
The value of `LD_PRELOAD` is not set correctly and it's not propagated to the wrapped binary.

[2017-01-19 15:37] wimpers opened #236 "Maintenance label for the voldrv"
Maintenance mode for the voldrv:
* allow to set the a volumdriver in maintenance through the API or the client
* This block creation of vdisks (fuse layer/edge allow to create vdisks without the framework)

Out of scope:
* shutdown DTLs and MDS (this should be down by the framework)

[2017-01-19 15:57] redlicha opened #237 "Set name of mgmt threads"
To help detecting / debugging #220 where mgmt threads were piling up.

[2017-01-20 09:36] redlicha commented on #230
Workaround: pass a different log sink to the `scrub` method.

[2017-01-20 09:43] redlicha commented on #237
Pattern: `xmlrpc_conn/` followed by file descriptor
[code]

[2017-01-20 09:43] #237 closed

[2017-01-20 10:42] redlicha commented on #230
Investigation suggests this is not a problem with the voldrv's scrubbing code:
[code]
results in this for the forked scrubber process:
[code]

However, inspecting an occurence of the hang, stderr is there redirected to a pipe:
[code]
The scrubber process was forked off by rpyc:
[code]
root@ftcmp01:~# ls -al /proc/27873/fd
[...]
lr-x------ 1 ovs ovs 64 Jan 20 09:11 0 -> pipe:[423334678]
l-wx------

[2017-01-20 10:49] openvstorage-ci commented on #230
This issue was moved to openvstorage/framework#1366

[2017-01-20 10:49] #230 closed

[2017-01-23 14:20] redlicha opened #238 "Accelio thread stuck in busy loop"
On multiple nodes (g8-4, RDMA enabled) it was observed that the xio thread went into a busy loop:
* stor-08
[code]
* stor-05:
[code]

[2017-01-23 15:18] JeffreyDevloo commented on #219
This update has been a part of our performance-test suite and has shown its results.
Closing.

[2017-01-23 15:18] #219 closed

[2017-01-24 08:24] redlicha commented on #229
Test: `volumedriver_fs_test`, `VolumeTest.no_template_creation_from_non_template_parent`.

[2017-01-24 08:24] #229 closed

[2017-01-24 08:31] redlicha commented on #234
Manual verification:
[code]

[2017-01-24 08:31] #234 closed

[2017-01-24 08:34] redlicha commented on #220
Observed once more, this time the root cause could be identified - https://github.com/openvstorage/alba/issues/587

[2017-01-24 08:36] #231 closed

[2017-01-24 08:37] #206 closed

[2017-01-24 09:44] wimpers opened #239 "Edge communication on RDMA"
Get the Edge to work reliably over RDMA.  Please create the necessary tickets on the relevant repos.

[2017-01-25 09:27] wimpers commented on #236
We rely on the framework or external scripts to make sure the DTL and MDS services are no longer or shutdown in use on the voldumdriver node. If we woudl push this on the voldrv, we  would have to model a lot more of the information that the fwk has either duplicating it (bad) or keeping it for the fwk (not that bad, but a lot of effort and removed from voldrv's original task).

[2017-01-25 09:47] wimpers opened #240 "Optimize Edge HA for down/maintenance mode"
In case of a HA scenario the Edge doesn't take into account node which are down (marked offline) or in maintenance (https://github.com/openvstorage/volumedriver/issues/236).

[2017-01-25 09:53] wimpers commented on #240
Should be handled in the framework.

[2017-01-25 09:56] #240 closed

[2017-01-25 12:41] kinvaris opened #241 "Enable/disable auto migration per volume"
In continuation of https://github.com/openvstorage/framework/issues/1197, the customer / operations should be able to disable auto migration per volume for the following reason: both manual move and vm migration can occur on the same volumedriver, on the same time with different volumes. For one of the actions we would possibly require auto migration. For the other one we would not need it.

[2017-01-25 12:47] wimpers commented on #241
Maybe  push  `volume_{read,write}_threshold` value to the vDisk level instead of vrouter level?

[2017-01-26 13:16] cnanakos opened #242 "Return EFBIG when an attempt is made to write out of volume boundaries"

[2017-01-26 13:40] wimpers commented on #242
@cnanakos please add description

[2017-01-26 15:07] cnanakos commented on #242
An attempt was made to write to a volume that exceeds the implementation-defined maximum size or to write at a position past the maximum allowed offset. The error returned to the caller so far was EIO which not particularly describes the problem and misleads the caller for further actions.

[2017-01-26 19:20] cnanakos opened #243 "Return EFBIG when an attempt is made to grow volume out of the implementation limit"

[2017-01-27 09:19] pploegaert opened #244 "After update of all components the volumedriver did shutdown shortly after restart"
Scenario:
- configured env with 1 running vm with edge connection to it's vdisk
- updated all components: fwk, alba, voldrv on 3 node env with restart of all these components
- after restart of all components the voldrv was not running on the env
- manual restart did not work either (within 5 minutes)
- this morning restart went fine + voldrvs were already running on other nodes

Log details:
http

[2017-01-27 09:50] redlicha commented on #244
The failed startup of in the provided log has nothing to do with the backend problems during volume restart - volumedriver ignores problems to start up volumes (they'll have to be started manually) and starts up nevertheless.
The cause for the failed startup in the log is this:
[code]
which suggests that there was a stale fuse mount still around.
Looking at the system's log, this is is due to a ti

[2017-01-27 10:17] #243 closed

[2017-01-27 10:17] #242 closed

[2017-01-27 13:36] redlicha opened #245 "Threads performing write hang in rsocket shutdown"
Voldrv threads are hanging in libibverbs (via librdmacm):
[code]
4 threads are in that state. Very likely related observation in dmesg:
[code]
Related to #220.

[2017-01-27 13:42] redlicha commented on #245
[code]

[2017-01-27 13:57] domsj opened #246 "Volumedriver gives up quickly when trying to mount a volume if it can't write owner_tag to the backend"
This was seen in https://github.com/openvstorage/volumedriver/issues/244.
A possible enhancement would be for the volumedriver to try a bit harder/longer.
More retries, combined with an exponential backoff (such as the strategy for writing scos/tlogs) might be a good idea here.

Fyi: related to the issue seen there an alba issue (possible enhancement) was created too https://github.com/openvstorag

[2017-01-27 14:06] redlicha commented on #245
[code]

[2017-01-27 14:09] redlicha commented on #245
[code]

[2017-01-27 14:12] redlicha commented on #245
[code]

[2017-01-27 15:27] redlicha opened #247 "Python API: introduce setters for ClusterNodeConfig"
Otherwise modifying a node's config is too cumbersome:
[code]

[2017-01-27 16:52] pploegaert commented on #244
Further testing indeed showed that the vm was still using a fuse mountpoint, switch to edge made this problem go away ...

However the running vm showed I/O errors and went read-only.
Next up: enabling HA and sync DTL as suggested by Arne and see if we can tackle this ...

[2017-01-27 16:52] #244 closed

[2017-01-30 08:29] wimpers commented on #245
For BAM: issue with RDMA for the DTL

[2017-01-30 10:12] cnanakos opened #249 "DTL client segfaults over RDMA"
[code]

[2017-01-30 10:54] redlicha commented on #249
[code]

[2017-01-30 11:36] redlicha commented on #249
MLNX_OFED_SRC-3.4-1.0.0.0/SOURCES/libmlx4-1.2.1mlnx1/src/qp.c
[code]

[2017-01-30 15:15] wimpers commented on #200
Hi @hoanhdo , any update on this issue? Did you also encounter it with a newer version?

[2017-01-30 16:19] redlicha commented on #245
The librdmacm packages from (M)OFED don't come with debug symbols. Building them manually / loading them (so to be taken with a grain of salt):
[code]
[code]

[2017-01-30 21:01] redlicha commented on #220
Closing this one: the number of mgmt connections / threads is now limited. The underlying cause(s) should be addressed in distinct tickets.

[2017-01-30 21:01] #220 closed

[2017-01-31 10:22] redlicha opened #250 "DTL runs out of filedescriptors (was: DTL client times out too quickly when establishing a connection)"
Default connect timeout is 1000 ms (`volume_manager/dtl_connect_timeout_ms`). Connection timeouts falling short of this have been observed (RDMA):
[code]

[2017-01-31 10:29] matthiasdeblock commented on #250
Jira ticket: http://tickets.openvstorage.com/projects/OVSSUP/queues/2/OVSSUP-185

[2017-01-31 10:31] kvanhijf opened #251 "Space reservation for DTL"
The DTL should not be able to consume more than the space allocated to the process
In case the user chooses to have multiple roles (eg, WRITE + DTL) on a single partition, the volumedriver should be able to limit the space for each role to claim (similar to how READcache was/is implemented)

This should also be implemented in the framework, see: https://github.com/openvstorage/framework/issues/138

[2017-01-31 10:34] redlicha commented on #251
Currently there's a *soft* limit imposed by the SCO cache / write buffer size granted for a volume - if that is exceeded, writes to the volume (and hence the DTL) are throttled.

[2017-01-31 14:16] wimpers commented on #236
Doing it in RC4 will not be possible as it takes 2d to days .

[2017-02-01 09:44] khenderick opened #252 "Directories can be renamed"
While volumes cannot be renamed, directories can. This results in the model being out-of-sync with reality. We would either need an event that informs us about the directory rename, or block directory renames at all.

If we decide that renaming directories (or volumes for that matter) need to be possible and an event is added, it would also be interesting to expose a call on the volumedriver API t

[2017-02-01 10:07] redlicha commented on #250
Manual testing with a modified DTL server side that delays the accept call:
* DTL not running -> the above behaviour is observed, i.e. an instant error message ("connect timeout"
* DTL running, accept delay 60 secs, connect timeout 1 secs -> an error is logged after the connect timeout has fired ("poll timeout"):
[code]
(NB: the `connect timeout` comes from a subsequent attempt to connect using TC

[2017-02-01 12:38] redlicha commented on #250
Inspecting the DTL server side:
[code]
[code]
[code]

[2017-02-01 12:41] kvanhijf opened #253 "Expose API to check whether a volume is being restarted"
The framework has implemented a call to restart a volume, but since its unclear how long this restart can take, it might be nice to be able to block other API calls for that volume while the restart is ongoing. therefore we would need this information
Eg: Volume is being restarted, so it might not be wise to snapshot, clone, convert to template, delete, move, restart again, ...

[2017-02-01 12:48] redlicha commented on #253
There is a "VolumeOverview" mgmt call per voldrv instance that lists all volumes belonging to that instance and their state ("Active" or "Restarting"). Exposing that directly in the Python API can be done with relatively little effort - +/- 2 h.

[2017-02-01 13:29] redlicha commented on #250
NB: in the RDMA (rsocket) scenario, the DTL requires > 5 file descriptors per client (TCP: > 2).
Irrespective of that, there are too many open connections.

[2017-02-01 14:02] redlicha commented on #250
Manual testing with a test client shows that rsocket connections are not cleaned up on the server side if the client closes the connection (opposed to TCP connections).

[2017-02-01 18:45] redlicha commented on #215
Currently there are connection pools per proxy, with namespaces being mapped to specific pools. In case of certain errors (for starters: failure to create a new client - something else?), a pool could be blacklisted and any user be redirected to the pool that is next in line that is not blacklisted. The blacklisting is removed again after a certain time.
+/- 1d.

[2017-02-02 08:19] hoanhdo opened #254 "Cannot create vpool on ubuntu 16.04 with fargo version"
I cannot create vpool. This is my log

000000012e - notice - at_exit: Time spent executing user instructions (seconds): 0.264000
Feb  2 15:06:39 openvstorage volumedriver_fs.sh[25057]: Time spent in operating system code (seconds): 0.24000
Feb  2 15:06:39 openvstorage volumedriver_fs.sh[25057]: The maximum resident set size used, in kilobytes. 38608
Feb  2 15:06:39 openvstorage volumedriver_fs.sh[

[2017-02-02 08:20] hoanhdo commented on #200
hi @wimpers. I reinstalled with new issue
https://github.com/openvstorage/volumedriver/issues/254

[2017-02-02 08:26] kvanhijf commented on #254
Hi,

What do you see in 'journalctl -u ovs-volumedriver_vpooldemo.service'

On Thu, Feb 2, 2017 at 9:19 AM, hoanhdo <notifications@github.com> wrote:

[2017-02-02 08:50] hoanhdo commented on #254
@kvanhijf
this is my log.

[log_vpool.txt](https://github.com/openvstorage/volumedriver/files/747218/log_vpool.txt)

[2017-02-02 09:41] kvanhijf commented on #254
This seems to be the problem to me:

[ERROR] - failed to load rdma transport layer.
Feb 02 15:44:44 openvstorage volumedriver_fs.sh[5456]:
[2017/02/02-15:44:44.18952] xio_nexus.c:1864             [ERROR] - validate
that your system support rdma and the accelio's rdma module is loaded
Feb 02 15:44:44 openvstorage volumedriver_fs.sh[5456]:
[2017/02/02-15:44:44.18957] xio_server.c:357             [ER

[2017-02-02 09:51] hoanhdo commented on #254
@kvanhijf
Yes. I config wrong RDMA.
Thanks.

[2017-02-02 09:51] #254 closed

[2017-02-02 13:23] wimpers commented on #215
Note to self:

each request to the backend works like this
* get connection from pool (if empty, create a new connection)
* perform request
* release connection back to pool if ok, otherwise try again, this time forcing a new connection from the pool (on relevant errors)

[2017-02-02 13:53] wimpers commented on #215
After discussion with stakeholders, decided to be added to RC4.

[2017-02-02 16:18] redlicha opened #255 "MDS slaves that self-destroyed can still be listed"
MDS slaves self-destroy if they detect that the backend namespace is gone. However, they are not removed from the server's mgmt map and will hence still show up in `list_namespaces` calls.

[2017-02-07 13:21] openvstorage-ci opened #258 "After vDisk migration the snapshot list is empty"
_From @wimpers on July 26, 2016 14:48_

If you have a vDisk with snapshots and you move the vDisk to another Voldrv, for some time the snapshot list will be empty.

_Copied from original issue: openvstorage/framework#745_

[2017-02-07 13:21] openvstorage-ci commented on #258
_From @wimpers on August 8, 2016 13:22_

To be investigated what the issue exactly was

[2017-02-07 13:21] openvstorage-ci commented on #258
_From @saelbrec on November 14, 2016 11:0_

@pploegaert ,
Can you please coordinate the required steps to be taken:
- Troubleshooting or issue identification
- Test or autotest creation

[2017-02-07 13:23] khenderick commented on #258
Just reproduced it manually:
* Create a 1GiB volume on the first node of a vPool.
* Take a snapshot
* Every 250ms, print the amount of snapshots returned by the `list_snapshots` call
* Generate some IO on the other node, causing the volume to move
* In one call, the amount of snapshots reported is 0

[code]

[2017-02-07 13:27] khenderick commented on #258
After some more investigation; it's not the `list_snapshots` call that returns an empty list, but it raises a `MaxRedirectsExceededException` which the framework processes as an empty list in that case.

[code]

Nevertheless, it should not generate this exception; the max amount of redirects is 1, so in case the information is now available on another node, that one redirect should still be suffic

[2017-02-07 14:08] redlicha commented on #258
I suspect that's a race:
* precondition: client connects to node A, volume V lives on node B and is migrated to C
* client issues request to A -> V not running here, redirect to B is reported
* ownership of V is moved from B -> C
* client re-issues request to B -> V not running here anymore -> MaxRedirectsExceeded

[2017-02-07 14:11] khenderick commented on #258
In my case it was only a two node setup, so I'm not sure if the exact above scenario could be triggered.

[2017-02-07 14:23] redlicha commented on #258
I think if you set C = A it's a possibility.

[2017-02-07 19:30] redlicha commented on #258
The root cause is a race between volume restart on the new owner and the `list_snapshots` call: if the volume is not fully restarted yet while the latter call is issued, a `VolumeDoesNotExistException` is raised on the owning node, which in turn triggers a redirect.

[2017-02-08 08:17] khenderick opened #259 "Add an API call to receive devicename information"
Add an API call to receive devicename information.

We have a few use cases where we would like to fetch the devicename for a given volume_id. Either in a per-volume approach or in bulk:
* #252
* openvstorage/framework#1233

[2017-02-08 08:28] redlicha commented on #258
After discussion with @khenderick : a distinct exception will be introduced to signal this case.

[2017-02-08 11:43] redlicha commented on #259
CC: @jeroenmaelbrancke , @JeffreyDevloo , @matthiasdeblock @jtorreke  :

As discussed this will be addressed by moving the `FileSystemMetaDataClient` from `_debug` to the public part of the API, hiding methods that modify the metadata (`unlink`, `mknod`, ...).

This allows to get the `ObjectId` -> `Path` mapping via `FileSystemMetaDataClient`s `lookup` method - which does traverse a tree stored in

[2017-02-08 11:56] redlicha opened #261 "Volume migration: migrate_timeout is ignored if backend_sync timeout is 0"
Discovered while writing a test for #258 .

[2017-02-08 14:23] wimpers commented on #207
@redlicha can you provide a ballpark figure for time to implement? Is this a big change?

[2017-02-08 14:30] wimpers commented on #208
@philippe can you investigate that the voldrv no longer restarts when the proxy restarts. Also verify in which scenarios the voldrv takes long to restart.

[2017-02-08 14:34] redlicha commented on #207
The simplest approach would be a command line option (`--dont-start-volumes` or something akin to that), which should not be much effort (< 1h). Individual volumes can then be restarted with the Python API. There is however no simple way to remove a volume that is not running. This entails:
* removing the directory entry
* removing the object registration
* removing local artefacts (SCO cache cont

[2017-02-08 14:35] wimpers commented on #209
Framework no longer allows to select RDMA when no RDMA device is there. @khenderick  right?

[2017-02-08 14:35] #209 closed

[2017-02-08 14:37] khenderick commented on #209
@wimpers, indeed.

[2017-02-08 16:42] #261 closed

[2017-02-09 11:24] redlicha commented on #253
@kvanhijf : PR #260 introduces a new `VolumeRestartInProgress` exception (for `info_volume`, `list_snapshots` etc), originally to address #258 .

[2017-02-09 13:38] wimpers commented on #252
@redlicha will this be part of RC4?

@khenderick any chance we can integrate it for RC4? Please create an integration ticket on the framework.

[2017-02-09 13:40] khenderick commented on #252
@wimpers, this _is_ the integration ticket. After the integration of this new API it will be possible to get the devicename back in sync after a manual intervention from Ops, as we don't do this automatically (as we would need the new event for that)

[2017-02-09 13:46] wimpers commented on #251
To be further discussed: DTL in mem vs on SSD. Do we really need protection?

[2017-02-09 13:58] redlicha commented on #252
Looking at the code, `FileRenameEvent`s should also be emitted if the event rules match `rename`s of directories.

#259 will be part of RC4 (via #262).

[2017-02-09 14:00] redlicha commented on #255
The stale MDS slave handles still consume resources / memory as demonstrated by the following test, which creates 500 MDS slaves without their corresponding backend namespaces existing though, so they will stop polling for changes from the backend, but still cling to resources while they're on the server's mgmt map:
[code]

The same experiment with a fixed version (PR #256):
[code]

[2017-02-09 14:01] khenderick commented on #252
@redlicha, do you mean that I should reintroduce the `FileRenameEvent` with a regex on `*.raw` so we also get "renames" of the directories containing the raw files?

[2017-02-09 14:06] redlicha commented on #252
No, it doesn't work that way - the children are not matched, only `from` and `to` of the rename operation (volumes are children of these in case of directories):
https://github.com/openvstorage/volumedriver/blob/dev/src/filesystem/FileSystem.cpp#L643-L658

[2017-02-09 14:45] redlicha commented on #255
Manual recovery procedure:
* list MDS namespaces (`src.MDSClient.list_namespaces`) and remove those slave namespaces (`src.Role.Slave` returned from `src.MDSClient.get_role`) for which there is no volume anymore (`src.MDSClient.remove_namespace`, race condition to keep in mind is creation of new volumes)

[2017-02-09 16:12] khenderick commented on #208
After testing:
* The volumediver is not stopped/restarted/killed when:
 * Proxy is killed
 * Proxy is stopped
 * Proxy is restarted
 * A proxy somehow restarted (due to kill, restart, ...) and can't start anymore due to corrupt config file
* The volumedriver's kill timeout (the timeout after which the process will be killed if `fusermount -u [mountpoint]` did not work) is fixed set to 30s.
 * It u

[2017-02-09 20:39] #91 closed

[2017-02-09 20:39] #207 closed

[2017-02-09 20:42] redlicha commented on #255
test: `volumedriver_test´, `MDSManagerTest.namespace_auto_removal`

[2017-02-09 20:42] #255 closed

[2017-02-09 20:44] redlicha commented on #258
Test: `volumedriver_fs_test`, `PythonClientTest.list_snapshots_while_migrating`

[2017-02-09 20:44] #258 closed

[2017-02-09 20:45] redlicha commented on #253
Part of 6.10.0

[2017-02-09 20:47] redlicha commented on #259
Part of 6.10.0 . @khenderick, please verify/close once successfully integrated.

[2017-02-09 20:50] redlicha commented on #250
@wimpers, this is an rsocket / RDMA specific issue. Since the other RDMA issues were moved to Gilbert I propose that this one follows suit.

[2017-02-10 08:29] redlicha opened #264 "Regression in pickle support of SnapshotInfo, VolumeInfo etc."
[code]

[2017-02-10 09:03] hoanhdo opened #265 "create backend error"
Hi all.
I install openvstorage in GeoScale model, version fargo

I create localbackend error.
Unknown --to-json parameter in command
/usr/bin/alba' 'update-abm-client-config' '--to-json' '--config=arakoon://config/ovs/arakoon/localbackend5-abm/config?ini=%2Fopt%2FOpenvStorage%2Fconfig%2Farakoon_cacc.ini

Feb 10 15:56:01 ovs-performance celery[1954]: 2017-02-10 15:56:01 13800 +0700 - ovs-performanc

[2017-02-10 09:30] redlicha commented on #264
Above test passes again:
[code]

[2017-02-10 09:30] #264 closed

[2017-02-10 10:07] kvanhijf commented on #265
Hi,

It seems you have a compatibility problem between your ALBA version and
openvstorage version
Can you please provide us both versions

alba version --terse

On Fri, Feb 10, 2017 at 10:03 AM, hoanhdo <notifications@github.com> wrote:

[2017-02-10 14:33] khenderick commented on #259
The change has been verified in 6.10.0 and works as expected.

[2017-02-10 14:46] redlicha opened #266 "VolumeDriver process terminates with SIGABRT when shutting down with open connections"
[code]

Core dump is not helpful:
[code]

[2017-02-11 10:32] hoanhdo commented on #265
@kvanhijf
I install and it work

[2017-02-11 10:36] hoanhdo commented on #200
@wimpers.
I configured backend error.
I reconfigure and it works.
Thank all

[2017-02-11 10:52] hoanhdo commented on #265
@kvanhijf
this is my version: alba version --terse
1.3.4

[2017-02-11 15:20] #265 closed

[2017-02-13 08:12] wimpers commented on #200
@hoanhdo  so this issue can be closed?

[2017-02-13 12:49] wimpers commented on #252
@redlicha  do I get it correct that this one can be closed as the voldrv team has nothing to do for this one?

[2017-02-13 12:50] wimpers commented on #246
@redlicha is this a big one?

[2017-02-13 12:51] wimpers commented on #246
After a while this gets fixed (f.e. during auto update)

[2017-02-13 13:13] redlicha commented on #252
@wimpers: if the approach discussed above works for @khenderick it can be closed.

[2017-02-13 13:17] khenderick commented on #252
@wimpers, it does work and is integrated.

[2017-02-13 13:18] #252 closed

[2017-02-14 08:45] redlicha commented on #266
Possibly related?: inspection of core dumps after voldrv crashes (log files were unfortunately gone already) where certain threads (`NetworkXio*`, `FuseInterface`, ...) are *absent*:
[s04-gdb-bt.txt](https://github.com/openvstorage/volumedriver/files/773510/s04-gdb-bt.txt)

[2017-02-14 15:57] kinvaris opened #267 "Volumedriver fails to steal volume because volume DTL is not in sync while it is"
In this situation we have 4 nodes with a vPool. The DTL is in sync. 2 Nodes are living in the same domain so between those nodes we are performing HA (Node 2 -> Node 4).
* A vdisk is present on the vpool on node 2
* The vdisk is expected to HA migrate to node 4
* Node 2 is cleanly shutdown
* The vdisk is not being stolen from Node 2 because the DTL is not in sync

@redlicha has the following hypot

[2017-02-14 16:02] redlicha commented on #267
"The vdisk is not being stolen from Node 2 because the DTL is not *known to be* in sync", as the `DtlInSync` status is not transferred in the sync response by default.
So either the default value of `volume_router/vrouter_send_sync_response` is changed to true (in which case it needs to be explcitly disabled on setups that have voldrvs < 6.3.0), or the framework needs to set it to `true` explicitl

[2017-02-14 16:39] saelbrec commented on #267
Let's document the backwards compatibility constraint in case of a rolling upgrade from a Fargo <2.7.4 release to RC4 and go ahead with changing the default.

[2017-02-15 08:38] wimpers opened #268 "Async voldrv"
Make the voldrv asynchronous.

[2017-02-15 08:47] wimpers opened #269 "Pipelining on the DTL"
Pipelining on the DTL: the thing is that the original DTL protocol is request/response which gets in the way if the latency between client and server is too high. This also fits the general idea of making voldrv async.

[2017-02-15 09:24] redlicha opened #270 "Segfault in CachedMetaDataStore"
[code]

[2017-02-15 09:25] redlicha commented on #270
[gdb.txt](https://github.com/openvstorage/volumedriver/files/776554/gdb.txt)

[2017-02-15 16:46] redlicha commented on #270
[code]

[2017-02-15 16:48] redlicha commented on #270
Observed once more on the same node, this time with 3 more `??` frames:
[code]

[2017-02-16 09:09] redlicha commented on #266
Truncated core dumps: the shutdown in the systemd unit files first tries a `fusermount -u`, waits for a bit and then first tries a `SIGTERM` and finally a `SIGKILL`. If the `SIGKILL` arrives while the core dump is written the core dump is not completed:
[code]

[2017-02-17 12:27] cnanakos opened #272 "I/O request accounted after serviced"
* I/O thread sends async request
* I/O thread descheduled
* I/O request has already been serviced and freed
* I/O request accounted in the in-flight list by using the old request pointer

[2017-02-17 14:23] redlicha commented on #266
Hypothesis after further inspection of the core dumps: `api::Exit` was not invoked as `VolManager::instance_ != nullptr` (and its member threads, e..g `PeriodicActions`, Backend threadpool etc are the remaining active threads) -> `volumedriverfs::LocalNode` dtor did not run.

[2017-02-17 21:54] redlicha commented on #266
Logging for one occasion of the bug shows a problem in the `LocalNode` ctor: if anything throws after the `api::Init` call, `api::Exit` is not invoked leading to the above symptoms. It's unclear if this is the only occasion.

[2017-02-17 22:47] redlicha commented on #266
Another occasion of the bug, different trigger:
* a volume failover is ongoing in a `NetworkXioWorkQueue` thread, which runs into problems connecting to MDS(es) (they're being shut down at the same time) => keeps `LocalNode` alive:
[code]
Feb 16 00:58:28 stor-02 volumedriver_fs.sh[12149]: 2017-02-16 00:58:28 121739 +0100 - stor-02.be-g8-4 - 12149/0x00007f9293fff700 - volumedriverfs/FuseInterface -

[2017-02-17 23:26] redlicha commented on #266
[code]
`NetworkXioIOHandler` is attached as "user context" to the xio connection which keeps the `NetworkXioWorkQueue`(s) alive (via `shared_ptr`s). The `NetworkXioWorkQueue` thread driving the failover keeps in turn the `LocalNode` alive, also via a `shared_ptr`, so it can outlive the `ObjectRouter` / `FileSystem`. In fact, `ObjectRouter`s dtor runs while the failover in the WQ thread still uses

[2017-02-20 15:47] #160 closed

[2017-02-20 15:54] wimpers commented on #124
Duplicate of https://github.com/openvstorage/volumedriver/issues/250

[2017-02-20 16:00] matthiasdeblock opened #273 "Scrubber process pending"
On different setups (GIG and POCOPS) we noticed that the scrubber wasn't working. It looks like the PID of the last working scrubber stays in a pending state.

[code]

[2017-02-20 16:09] #273 closed

[2017-02-21 08:36] pploegaert commented on #128
param used in fwk code is: req_timeout_secs

[2017-02-21 09:36] pploegaert commented on #128
VALIDATION OK:
- 3 node setup
- 1 node poweroff
- list_volumes on vp object times out first time at +- 90seconds:
2017-02-21 10:30:49 98100 +0100 - e187-2 - 56540/140496657241856 - extensions/pyrakoon_client - 4 - WARNING - Arakoon call sequence took 92.54s
- subsequent: vp = VPoolList.get_vpools()[0] does succeed
- vp.storagedriver_client.list_volumes()
Out[7]:
['119ad71b-26f4-4e7c-83fd-7f5f3f57b

[2017-02-21 09:37] #128 closed

[2017-02-21 13:43] pploegaert commented on #179
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/435

[2017-02-22 07:46] pploegaert commented on #201
Validation continued in:
https://github.com/openvstorage/integrationtests/issues/437

[2017-02-22 07:46] #201 closed

[2017-02-22 09:49] JeffreyDevloo commented on #179
Opening as it has not been validated yet.

[2017-02-23 15:17] dejonghb opened #274 "HA split brain?"
- start a VM from existing vdisk
[code]
![fa_be4](https://cloud.githubusercontent.com/assets/15377625/23264943/61701012-f9e3-11e6-8dc3-bbe27b188ff4.png)
- on the owner storagerouter trigger HA using iptables to DROP all traffic on the vpool the vdisk lives
[code]
- HA succeeds; ownership of volume is moved to other node
![fa_ftcmp03](https://cloud.githubusercontent.com/assets/15377625/23264976/7a7

[2017-02-23 15:23] dejonghb commented on #274
![fsck_required](https://cloud.githubusercontent.com/assets/15377625/23265252/633eb17c-f9e4-11e6-8ffc-aba33d019556.png)

[2017-02-23 15:46] dejonghb commented on #274
[code]

[2017-02-24 08:51] hoanhdo opened #275 "Vpool not mount after some days"
HI all.
I create a cluster on openvstorage fargo.
after some days i don't work with openvstorage, vpool not mount.
But process vpool still work.
Thanks.
Hoan

[2017-02-24 17:20] deepshirsath opened #276 "Unable to create vDisks via cloud apis!"
We are facing issue while creating vdisk via cloud apis on OVH France **'demostack03'** env.

**OVS node 1** ovs01 --> public ip 178.33.61.6 private ip 172.20.20.1

**workers log**

Feb 24 17:45:57 ovs01 celery[77882]: 2017-02-24 17:45:57 86900 +0100 - ovs01 - 151696/139940545455872 - arakoon_client/pyrakoon - 249251 - ERROR - [Errno 111] Connection refused: Unable to connect to ('172.20.20.1', 26

[2017-02-24 17:33] #276 closed

[2017-02-24 17:34] cnanakos commented on #276
The above log entries are not related with the volumedriver.

[2017-02-27 08:16] redlicha commented on #274
Caused by the location check using / returning the cached location info.

[2017-02-27 08:37] jeroenmaelbrancke commented on #275
Hi Hoan,

Is it possible to send us the volumedriver log files?

regards,
Jeroen M

[2017-02-28 09:02] pploegaert commented on #215
Add to non-happy path test suite:
https://github.com/openvstorage/integrationtests/issues/449

[2017-02-28 14:10] domsj opened #277 "Support trim/discard"
When using a large (e.g. 1PB) volume, after a while the filesystem may have written data over the entire volume, but actually only be interested in a small subset of it, while according to the volumedriver none of the blocks can be scrubbed.
With proper trim/discard support such a scenario (storage leak) can be prevented.
This can of course also be prevented by thinking up front about how much spa

[2017-03-01 09:40] redlicha opened #278 "Expose SCO cache info in Python API"
In particular the `offlined` state is interesting for monitoring.

[2017-03-01 09:58] redlicha commented on #278
[code]

[2017-03-01 10:03] redlicha commented on #278
Test: `volumedriver_fs_test, PythonClientTest.sco_cache_mount_point_info`

[2017-03-01 12:09] redlicha commented on #272
The tests under valgrind bumped into the newly introduced control request timeout (triggered by a bug in the tests):
* volume creation in the tests is retried on error to address a race between remote volume creation and startup of the remote; however the number of retries is not limited there
* volume creation in `NetworkServerTest.create_rollback_list_remove_snapshot_remote` succeeded on the rem

[2017-03-01 13:44] redlicha opened #279 "Python API: "fast path" partial read counter always returns '0'"

[2017-03-01 13:47] redlicha commented on #279
Manual verification:

[code]

[2017-03-01 13:50] #279 closed

[2017-03-01 13:52] redlicha commented on #274
To clarify: this is not a split brain as fencing prevents writing to / reading from the old instance.

[2017-03-02 13:01] #278 closed

[2017-03-02 18:10] saelbrec commented on #179
@JeffreyDevloo ,
I think this has been validated, right?
I remember @kinvaris running into the situation where HA was refusing to move volume to a node from another domain.
If you are still thinking of other validation tests, than please readd the 'state_verification' label, otherwise please close.

[2017-03-03 09:21] redlicha opened #280 "Decouple the Edge client's location check from HA support"
Currently the location check is only active if HA is enabled.

[2017-03-03 14:49] wimpers commented on #275
hi @hoanhdo,

 any update about the logs? Is the issue solved?

Kind regards,
Wim Provoost
Product Manager Open vStorage

[2017-03-03 14:50] wimpers commented on #200
Closing issue. Re-open if needed.

[2017-03-03 14:50] #200 closed

[2017-03-06 16:18] kinvaris commented on #179
Recently we've created 2 tests:
1. The HA test: This tests the automated HA for multiple vdisks. In this test there are no domains used. This test is still being validated/reviewed but is working.

2. The DTL test: This tests if written data can survive through the DTL with multiple vdisks. In this test we've observed that vdisk migration between multiple datacenter is not possbile. This is by des

[2017-03-07 02:20] hoanhdo commented on #275
Sorry, i am busy.
This is my log file
[log_volumedriver.txt](https://github.com/openvstorage/volumedriver/files/823174/log_volumedriver.txt)
Thanks.

[2017-03-07 08:07] hoanhdo commented on #275
Yes. This is my log
[test.txt](https://github.com/openvstorage/volumedriver/files/823726/test.txt)
Thanks

[2017-03-07 08:56] jeroenmaelbrancke commented on #275
What is the output from cat /proc/mounts and df -h?
The command i provided you should give me all the logging from the volumedriver but i only see 2 hours.
How is your journalctl configured (cat /etc/systemd/journald.conf)?

Regards,
Jeroen M

[2017-03-07 09:03] redlicha commented on #222
@kvanhijf , is this still an issue with the recent fixes to the voldrv backend config that moved the `backend_*` keys out of the per-proxy sections? Otherwise this one can be closed.

[2017-03-07 09:40] redlicha commented on #246
The retry behaviour for this is currently governed by the backend config passed to volumedriver. In the linked case there was only one retry which was very probably caused by the framework passing in a backend config that had the relevant keys in the wrong config section, which should however be fixed now so that the same retry rules apply as for reads:
[code]
(which are different from the ones us

[2017-03-07 09:40] redlicha commented on #246
Related: #222

[2017-03-07 09:43] hoanhdo commented on #275
I just start machine.
This is my disk info.
[disk.txt](https://github.com/openvstorage/volumedriver/files/823945/disk.txt)

[2017-03-07 10:06] jeroenmaelbrancke commented on #275
@hoanhdo

Can you go to the ovs gui --> Administration --> Support --> Remote access enabled = true --> Save settings.

Can you send me the root credentials + cluster id ( section Support information) to jeroen.maelbrancke@openvstorage.com?

i'll try to login on your environment and have a look.

Regards,
Jeroen M

[2017-03-07 10:33] redlicha commented on #124
It's not a duplicate of #250 : in this case there are too many active (TCP) connections to a single DTL, whereas for #250 abandoned (RSocket) connections are not cleaned up on the server side.

[2017-03-08 08:52] redlicha commented on #274
TBD: address the race mentioned above.

[2017-03-08 12:24] jeroenmaelbrancke commented on #275
Hi @hoanhdo,

After taking a look at your environment we would like to install gdb and the matching debug symbols.
Is this okay for you?

We see in the volumedriver that restarting a volume hangs but we do not know where, that's why we would like to install the gdb and debug symbols.

Journalctl also skipped some messages from the volumedriver but we found the logs in /var/log/syslog.
That is why

[2017-03-08 18:16] saelbrec commented on #270
@redlicha,
Not sure if it is in some way related but this disappeared since the volumedriver instances are no longer shot in the head by the so-called self-healing method.

[2017-03-09 03:49] hoanhdo commented on #275
Hi jeroenmaelbrancke.
What package i need install : gdb, volumedriver-no-dedup-base-dbgsym and volumedriver-no-dedup-server-dbgsym?

[2017-03-09 09:36] jeroenmaelbrancke commented on #275
Is it okay that we install the package?

[2017-03-10 01:49] hoanhdo commented on #275
I installed these packages. you do .

[2017-03-10 09:18] jeroenmaelbrancke commented on #275
@redlicha
[voldrv-hang-evidence.tar.gz](https://github.com/openvstorage/volumedriver/files/833429/voldrv-hang-evidence.tar.gz)

[2017-03-10 10:36] matthiasdeblock opened #282 "Discussion for improvement: prevent multiple edge connections to the same volumedriver/edge"
**Situation**
We had an issue on a GIG environment with a volume that had corrupted data. This was caused due to a connection from 2 different CPU nodes to the same volume on the same edge connection.

**Ticket history**
When you check the VMs logfiles on CPU-04, you will see that the VM got started on 02/03 at 13:23 and got shut down on CPU-04 on 08/03 at 12:21. Between the start and the sthutdow

[2017-03-10 10:41] kvanhijf commented on #222
@redlicha :
It seems to be still an issue even with (AFAIK) a correct configuration

[code]

[2017-03-10 14:58] #136 closed

[2017-03-10 15:00] #269 closed

[2017-03-10 15:00] #236 closed

[2017-03-13 09:06] redlicha opened #283 "Read-after-write returns old data"
[code]

[2017-03-14 10:05] redlicha opened #284 "Add git repository URL to --version output"

[2017-03-14 12:39] redlicha commented on #284
[code]

[2017-03-14 12:39] #284 closed

[2017-03-15 13:46] matthiasdeblock opened #285 "Observation: onhost volume is performing less than remote volumes"
We have noticed a performance drop while running some FIO Edge tests on volumes that are owned and used by the FIO edge on the same node/storagerouter.

The FIO test was executed with the FIO Edge 100% read.

TOP output from the different tests:

**FIO node2 to node1 (storagerouter) - read: IOPS=51.1k**
[code]

**FIO node2 to node2 (onhost) - read: IOPS=40.7k**
[code]

[2017-03-16 14:11] redlicha opened #286 "`MDSClient.create_namespace` times out"
Observed in https://github.com/openvstorage/framework/issues/1530 :
[code]

[2017-03-17 10:22] redlicha opened #287 "Serialization of writes vs. multiple reads in DataStore is too coarse"
`DataStoreNG::readClusters` holds the `rw_lock_` even during the partial reads after reading from local SCOs.

[2017-03-18 03:27] hoanhdo opened #289 "cannot create global backend after create global backend failed"
Hi all.
I install openvstorage with these package.

ii  openvstorage-backend                 1.7.10.1-1                          amd64        openvStorage Backend plugin
ii  openvstorage-backend-core            1.7.10.1-1                          amd64        openvStorage Backend plugin core
ii  openvstorage-backend-webapps         1.7.10.1-1                          amd64        openvStorage Back

[2017-03-20 07:38] kvanhijf commented on #289
Hi,

This is a known issue, for which we haven't had the time to investigate /
fix.
There's 2 solutions:
1) Reinstall and create your backends 1 by 1
2) Check the code and see where exactly it went wrong. Revert everything up
until that point for the failed backend and try again

Sorry for this inconvenience

On Sat, Mar 18, 2017 at 4:27 AM, hoanhdo <notifications@github.com> wrote:

[2017-03-20 08:23] wimpers commented on #289
Hi@hoanhdo

the creating of multiple backends at once should work. There used to be issues when Etcd was selected as distributed config management.  Since we went away from Etcd , we have closed that issue https://github.com/openvstorage/framework/issues/828 . Can you check where it went wrong and let us know. Do create a ticket under https://github.com/openvstorage/framework/issues/ as it will be

[2017-03-21 02:02] hoanhdo commented on #289
Hi @wimpers
I created issue [https://github.com/openvstorage/framework/issues/1543.](url)
It happen some times. I think this issue only vmware but it still physical node.

[2017-03-21 08:52] redlicha opened #290 "Detection of halted (fenced) volumes via Python API"
Scenario:
* volume V is running on instance I
* HA moves V to instance J while I is still alive
=> V will be fenced on I (= put into `halted` state)
.

Depending on which node the Python API connects to, `info_volume` will now either return the volume as `halted` (and owned by `I`) or as healthy (and owned by `J`).

[2017-03-21 09:00] wimpers commented on #290
Would be good to fix as otherwise the healthcheck will report false positives.

[2017-03-21 09:04] matthiasdeblock commented on #290
Or there can be another check as well in the healthcheck which checks if the volume is running on another volumedriver. And, if the volumedriver is running on another node trigger a WARNING message. If the volume is actually halted (so not running on another node) trigger the CRITICAL (wake up call).

[2017-03-21 17:40] redlicha opened #291 "Excessive snapshot metadata needlessly leads to halted volume"
Exposed by `volumedriver_fs_test`, `PythonClientTest.snapshot_excessive_metadata` after introducing fixes for #290 .

[2017-03-22 08:50] redlicha commented on #286
Probably caused by slow operation(s) - `set_role` waiting for the backend sync job to finish - blocking the thread(s) . This can also impact the data path, so the slow operations need to be moved out.

[2017-03-23 08:35] redlicha opened #294 "Python API: `stop_object` should support removal of fenced volume instances"
[code]

[2017-03-23 12:18] cnanakos opened #295 "HA handler should use the same connection to retrieve necessary information"
Currently the HA handler uses a new connection to retrieve necessary information.

[2017-03-24 08:10] redlicha commented on #294
[code]

[2017-03-24 11:26] redlicha opened #297 "MetaDataStore::get_page: use sentinel ClusterLocation for corked ClusterAddresses"

[2017-03-24 12:22] redlicha commented on #291
Closing it as the test that exposed the issue (see above) now succeeds.

[2017-03-24 12:22] #291 closed

[2017-03-24 12:22] redlicha commented on #294
Closing it, cf. test above.

[2017-03-24 12:22] #294 closed

[2017-03-24 12:24] #287 closed

[2017-03-24 12:39] redlicha commented on #290
Test: `volumedriver_fs_test`, `PythonClientTest.list_halted_volumes`.

@JeffreyDevloo , assigning this one to you - please close after integration into healthcheck.

[2017-03-24 12:41] redlicha commented on #297
Existing tests were modified accordingly:
* `volumedriver_test`, `MetaDataStoreTest.get_page`
* `volumedriver_fs_test`, `NetworkServerTest.get_page`

[2017-03-24 12:41] #297 closed

[2017-03-24 14:13] wimpers commented on #289
Closing this one as isn't the correct repo, please continue if issues in  https://github.com/openvstorage/framework/issues/1543 .

[2017-03-24 14:13] #289 closed

[2017-03-27 08:57] redlicha opened #298 "Support for fast cancellation of background tasks"
Background tasks are handled by a thread pool. Currently, cancellation of such a task has to wait until it's actually scheduled.

[2017-03-27 10:24] wimpers commented on #298
Is this related to https://github.com/openvstorage/framework/issues/1530 ?

[2017-03-27 10:45] redlicha commented on #298
Only losely:
* in https://github.com/openvstorage/framework/issues/1530 , the slave update is currently being executed and, the transition to master needs to wait for that to finish
* in this case, the transition to master cancels a scheduled update, but the cancellation takes too long

[2017-03-29 08:31] redlicha commented on #298
Test: `youtils_test`, `PeriodicActionPoolTest.fast_cancellation`.

[2017-03-29 11:36] redlicha opened #300 "Integrate new alba client lib with configurable fast path timeout"

[2017-03-30 11:44] redlicha opened #302 "Unify handling of unaligned requests in volumedriver"
Currently `LocalNode` fixes up sub-sector requests to sector size and `Volume` to cluster size.

[2017-04-04 07:56] kvanhijf opened #304 "Expose FileSystemMetadataClient._unlink functionality"
The framework would need this functionality to be able to delete directories which have been left over after cleaning out vdisks from the filesystem.

Edit: Another option would be to fix the existing StorageRouterClient.unlink functionality, to allow it to also delete directories

Related ticket: https://github.com/openvstorage/framework/issues/1511

[2017-04-04 08:07] redlicha commented on #304
Alternative(?): support removal of directories with the "unlink" call on `StorageRouterClient`.

[2017-04-06 09:16] redlicha commented on #304
`StorageRouterClient.unlink` now also allows the removal of empty directories. Test: `volumedriver_fs_test`, `PythonClientTest.rmdir`.

[2017-04-06 09:16] #304 closed

[2017-04-06 09:34] redlicha opened #306 "MetaDataStoreTests sporadically fail with a "No locks available" error from RocksDB"
E.g.: `volumedriver_test`, `MetaDataServerTests/MetaDataServerTest.tables/2`:
[code]

[2017-04-06 09:38] redlicha commented on #306
Issue is caused by a deadlock in the shutdown path of the previous test:

T1 (MDS garbage collection): has DB lock, wants periodic task lock
T2 (MDS slave PeriodicAction): has periodic task lock, wants DB lock

[2017-04-06 12:15] redlicha commented on #306
The tests that used to sporadically run into this when run multiple times now don't run into the problem anymore.

[2017-04-06 12:57] #306 closed

[2017-04-06 14:49] redlicha commented on #300
Deployed in the test env @ OVH.

[2017-04-06 14:49] #300 closed

[2017-04-06 14:50] redlicha commented on #302
Manual testing in the test env @ OVH shows no regressions.

[2017-04-06 14:50] #302 closed

[2017-04-06 14:51] redlicha commented on #283
Not reproducible anymore with the tests that previously exposed it.

[2017-04-07 06:58] jeroenmaelbrancke commented on #275
@redlicha
If you have some time please do not forget to check the coredumps of this ticket.

[2017-04-10 15:13] redlicha opened #307 "Limit the number of scrub replies that can be queued"
Observed while testing: scrubbing empty snapshots happens very quickly, application of the scrub replies (which boils down to a backend sync) takes much longer compared to that => scrub replies pile up in the ScrubManager.
So:
* limit number of scrub replies (by not handing out any more scrub work once a certain queue size is reached?)
* figure out why the backend sync takes long even though the w

[2017-04-10 17:45] redlicha commented on #307
CC @khenderick : new configurable: `scrub_manager/scrub_manager_max_parent_scrubs`, dynamically reconfigurable, default 1024.

[2017-04-11 11:41] redlicha opened #308 "Fine-grained logger filtering does not work"
There's a regression in the logging that renders the fine grained logger filtering (setting distinct components to a log severity different from the global one) dysfunctional.

[2017-04-11 13:04] kvanhijf opened #309 "Removing vPool fails due to 'destroy_filesystem' call core dumping"
[code]

Issue is related to this
[code]

Should be enough information for you @redlicha ?

[2017-04-11 14:01] redlicha commented on #309
The alba client lib decides to invoke `abort()` if -lgcrypt is not initialized (as is the case in the Python DSOs):
[code]

[2017-04-11 14:46] wimpers commented on #307
@redlicha will this be part of Fargo?

[2017-04-11 15:19] redlicha commented on #307
Investigation suggests that it's not the actual backend sync which is taking that long, but the application of relocations to slave MDSes, where the slave MDS thinks it is out of sync and starts a full rebuild.

[2017-04-11 15:29] redlicha commented on #127
Related to #307

[2017-04-12 13:47] JeffreyDevloo commented on #309
Fixed in the latest OSE 6.14

[2017-04-12 13:47] #309 closed

[2017-04-12 13:58] redlicha commented on #309
6.15.0.*dev* builds - official release will be 6.16.0

[2017-04-14 13:00] redlicha opened #310 "MDS: failing over to a previously unregistered slave without relocations should trigger full rebuild"
Scenario:
* volume V is configured to use MDS table T (as master, and optional slave tables Tn)
* a new slave table T' is created, T' is catching up to the latest state from the TLogs, scrub ID is `none`
* scrub results are applied to V -> relocations are applied to T (and the Tn slaves) but not to T' as it is not known to the volume
* V is reconfigured to use T' as master

=> at the latest at thi

[2017-04-14 13:30] redlicha commented on #310
Backward compat test with the fix for #127 / #307 in place, testing a pre-existing slave with scrub ID `none`:
[code]

[2017-04-14 15:35] redlicha commented on #310
@khenderick , is this a plausible scenario or does the fwk rule it out?

[2017-04-14 18:11] khenderick commented on #310
@redlicha, we usually do a `remove_namespace` for obsolete slaves. But we might eventually re-use a slave.

However, please note that this `remove_namespace` is only in place since a few months, and the OVH setup has been running quite a long time with fairly old framework packages, so a lot of MDS movement happened without the `remove_namespace` in place. So it might indeed be possible that on OV

[2017-04-19 07:25] redlicha opened #311 "Integrate Alba with block cache"
API change: new `block_path` field in `struct alba::statistics::RoraCounter`.

[2017-04-19 12:17] redlicha opened #313 "Improve handling of scrub ID mismatch during local restart"
Currently the restart is aborted with an exception if the local scrub ID does not match the one in the MDS / backend:
[code]

while it should however be possible to proceed (by adopting the backend scrub ID) if the local TLogs continue seamlessly where the backend ones end.

[2017-04-19 15:07] redlicha opened #314 "Disable / reduce frequency of sco_access_data uploads"
SCO prefetching is disabled by default so it doesn't make sense to have very frequent uploads of SCO access data to the backend.

[2017-04-20 07:53] #311 closed

[2017-04-20 12:20] #314 closed

[2017-04-20 12:21] redlicha commented on #308
Verified by manual testing.

[2017-04-20 12:21] #308 closed

[2017-04-20 13:55] redlicha commented on #283
@JeffreyDevloo , as discussed out of band, please close once your test is done.

[2017-04-25 12:23] redlicha opened #315 "VolumeDriver keepalive retries off by one"
The first missing probe is detected only after `vrouter_keepalive_time` instead of `vrouter_keepalive_interval`.

[2017-04-26 09:28] #179 closed

[2017-04-26 09:32] pploegaert commented on #139
Covered by keepalive mechanism

[2017-04-26 09:32] #139 closed

[2017-04-28 15:27] JeffreyDevloo commented on #283
Covered by https://github.com/openvstorage/integrationtests/issues/468

[2017-04-28 15:27] #283 closed

[2017-05-02 14:09] redlicha commented on #315
Log inspection during a test shows that the off-by-one is gone.

[2017-05-02 14:09] #315 closed

[2017-05-06 06:33] redlicha opened #316 "CachedMetaDataStore: get_page returns incomplete page"
Discovered by running the `MetaDataStoreTest` tests with a reduced page capacity.

[2017-05-06 18:53] redlicha commented on #316
`MetaDataStoreTest.get_page` was enhanced to expose the issue / verify the fix.
To be closed on next release.

[2017-05-11 08:45] redlicha commented on #127
Addressed by #307, #310

[2017-05-11 08:45] #127 closed

[2017-05-11 08:46] #316 closed

[2017-05-11 08:47] redlicha commented on #310
Test: `MDSVolumeTest.scrub_with_unregistered_slave*`

[2017-05-11 08:47] #310 closed

[2017-05-11 08:51] redlicha commented on #307
Tests: `volumedriver_fs_test`,
* `PythonClientTest.limit_scrub_work`
* `ScrubManagerTest.disable_and_enable`

[2017-05-11 08:51] #307 closed

[2017-05-11 08:52] redlicha commented on #267
Manual / integration tests succeed after changing the params default value.

[2017-05-11 08:52] #267 closed

[2017-05-11 08:54] redlicha commented on #253
@khenderick , can this one be closed?

[2017-05-11 08:56] redlicha commented on #246
Closing for now. Please reopen if the current retry behaviour is not good enough.

[2017-05-11 08:56] #246 closed

[2017-05-11 08:58] khenderick commented on #253
It's currently implemented and in use.

[2017-05-11 09:04] redlicha commented on #253
Manually tested, closing after discussion with @khenderick"

[2017-05-11 09:04] #253 closed

[2017-05-11 10:35] redlicha commented on #135
[code]

[2017-05-11 10:35] #135 closed

[2017-05-11 15:54] kvanhijf opened #317 "Make IP:port in tgt.service file configurable"
According to @cnanakos and my personal experience, i couldn't find a way to have the tgtd listen on a specific IP and/or port through a configuration file.
I did manage to find a way to achieve this by making changes to the tgt.service file, like so:
`ExecStart=/usr/sbin/tgtd -f --iscsi portal=1.2.3.4:3261`

Now since we repackage the tgt package into something of our own, i was wondering whether

[2017-05-11 16:40] redlicha commented on #317
@wimpers , can you please move this over to the tgt repo?

[2017-05-12 06:57] openvstorage-ci commented on #317
This issue was moved to openvstorage/tgt#6

[2017-05-12 06:58] openvstorage-ci commented on #317
This issue was moved to openvstorage/tgt-ee#1

[2017-05-12 07:46] #317 closed

[2017-05-30 12:48] wimpers commented on #280
@cnanakos what is the status of this ticket? It is assigned to you but are you (still) working on it? Any plans?

[2017-05-30 12:49] wimpers commented on #270
Re-open if it can be reproduced.

[2017-05-30 12:49] #270 closed

[2017-05-30 12:52] wimpers commented on #226
@redlicha what is the status of this? I saw you did some work for this?

[2017-05-30 12:55] wimpers commented on #223
@jeroenmaelbrancke @matthiasdeblock  do we have a backend namespace leak detection?

[2017-05-30 13:08] wimpers commented on #124
@redlicha  please advise if this one should be kept open as it hasn't been reproduced lately.

[2017-05-30 13:12] wimpers commented on #74
@JeffreyDevloo @pploegaert can you please verify if this is still an open issue?

[2017-05-30 13:13] wimpers commented on #71
@redlicha  can this one be closed?

[2017-05-30 13:17] wimpers commented on #68
Set to H as Nuvolat might manually override things

[2017-05-30 13:18] wimpers commented on #63
@redlicha  what is the status of this issue, anything left to do? Any plans in the near future?

[2017-05-30 13:32] redlicha commented on #226
No progress there; the issue was only referenced once more to explain an otherwise empty voldrv release.

[2017-05-30 13:38] redlicha commented on #124
The FD limit can be configured from the outside via `ulimit`, so the only thing to change on the voldrv side would be reducing the log noise. So I'd suggest to keep this around but with reduced prioritiy.

[2017-05-30 13:40] redlicha commented on #63
Not much work on this one so far just a tentative fix that might improve things. Should be tested again.

[2017-05-30 13:57] wimpers commented on #63
Tested by who exactly? Your testing or QA?

[2017-05-30 14:02] redlicha commented on #63
QA

[2017-05-30 14:07] wimpers commented on #63
@pploegaert  @JeffreyDevloo can you check please

[2017-06-09 13:14] redlicha opened #318 "SCO cache accounting out of sync with reality"
Observed on a test env:
[code]
[code]

Evidence (log, core file) on ftcmp02, redlicha/sco-cache-misbehaving

[2017-06-15 13:35] wimpers commented on #71
From Arne

[2017-06-15 13:36] redlicha commented on #71
The original issue still exists. A possible solution would be a garbage collector.

[2017-06-19 08:36] redlicha opened #319 "Scrubber does not pick up backend retry configuration"
It uses the default params despite another config being passed in. Observed while testing:
[code]
[...]
[code]

[2017-06-21 13:09] redlicha opened #321 "Speed up TLog-written-to-backend callback"
Currently the callback
* marks the tlog as safe on the backend by serializing and uploading a copy of a volume's `SnapshotPersistor`
* marks the tlog as safe locally by serializing a a copy of a volume's `SnapshotPersistor` to a file
* uncorks the metadata entries
* removes entries from the DTL
.

The `SnapshotPersistor` copies are created to avoid interfering (serialization while locking) with th

[2017-06-22 13:59] matthiasdeblock opened #322 "Observation: halted volumes after volume move to node with full root partition"
The move from volumes failed due to a full root partition on the destination node. All of the volumes got in halted state (on the destination node). The MDS failed.

[code]

[code]

Volumedriver config:
[code]

[2017-06-26 09:16] redlicha commented on #322
VolumeDriver uses `/tmp` (can be reconfigured with the `TEMP` env var) for certain operations which is why it was affected by the filled up root fs. To be reviewed / discussed if we want to change that. @wimpers , @saelbrec ?

[2017-06-28 08:06] redlicha commented on #319
voldrv 6.16.3

[2017-06-28 08:15] wimpers commented on #322
I don't see how reconfiguring the /tmp partition would solve things fundamentally. The node has a full root partition so more will fail in this case.

What should happen in this case is that the volume move doesn't get initiated.  For example because the node is marked as offline (up to the user or even monitoring) or because the volumedriver shuts down in case of certain issues (f.e. no space).

[2017-06-28 08:26] redlicha commented on #322
Fundamentally I agree. We could try to keep voldrv going in case of a full root fs by not using the "/tmp" there at all but another directory, but that just shifts the problem to the other filesystem filling up and a full root fs will cause more problems (logging, ....) so it's probably not worth pursuing.

[2017-06-28 08:29] dejonghb commented on #322
Depends how much space in /tmp gets used by the voldrvr and if this can fill up the rootfs and trigger more problems?

[2017-06-28 09:28] wimpers commented on #322
@redlicha how much space does the vodlrv typically use in /tmp ?

[2017-06-28 09:34] redlicha commented on #322
To be reviewed, but it *should* only use it to for config objects (`volume_configuration` etc).
IOW if voldrv would be the one filling up the root fs /tmp it would of course be a bug, but so far this ticket is about volumedriver's reaction to a filled up root fs.

[2017-06-28 09:37] wimpers commented on #322
If just for config objects I would leave things like it is and close this one with won't fix as this issue is indeed not about the voldrv filling things up.

[2017-06-28 11:04] #322 closed

[2017-06-28 15:22] redlicha opened #323 "Volume config changes don't offer strong exception safety"
The local variable is updated and then the config is written to the backend which could however fail. In that case the modified value remains in effect until the volume is restarted.

[2017-06-29 10:33] dejonghb commented on #319
[code]

Looking fine to me...

[2017-06-29 10:33] #319 closed

[2017-07-10 08:17] redlicha opened #325 "Python API timeouts can lead to unexpected retries"
Currently timeouts result in the same exception as absent nodes, which can lead to an attempt to redirect the request to another node.

[2017-07-11 15:53] redlicha opened #326 "Improve concurrent creation of volumes via API"
Volume creation consists of multiple steps which are in turn performed with rather coarse locking. If multiple requests to create a volume are issued to the same instance concurrently, this can lead to timeouts on the API's client side for some of these requests due to the serialization of the volume creation.

[2017-07-13 09:36] redlicha opened #327 "Scrubbing of empty snapshot replaces empty TLog with new empty TLog"
This is superfluous obviously - the original empty TLog can be kept instead of creating a new one, uploading it and removing the old one.

[2017-07-14 10:08] #295 closed

[2017-07-14 10:08] #272 closed

[2017-07-18 15:49] redlicha opened #329 "Local restart fails if a single snapshot is created but only partially on the backend and the MDS is running behind"
Log messages:
[code]

The restart ends up there under the following conditions:
* a snapshot was created that consists of multiple tlogs, some of which are on the backend
* voldrv was restarted (after a crash / power-cycle) before all tlogs are on the backend
* the MetaDataStore cork is *behind* (*Why? MDS failover?*):
  * MD cork: tlog X
  * last tlog marked as on the backend: tlog (X + 1)
  * la

[2017-07-18 18:45] redlicha commented on #329
Inspection of the TLog callback shows that the TLog is marked as written to the backend before uncorking the metadata store which is a possible explanation for the MD cork running behind.

[2017-07-19 08:10] hoanhdo opened #330 "qemu-img: output file is smaller than input file"
Hi all.

I use qemu-img convert to create vdisk from image. My image size 275MB, vdisk has size : 1.34GB.
This is my qemu command.

file size

error

Thanks.

[2017-07-20 08:58] redlicha opened #332 "Optimize internal representation of snapshots"
listing snapshot names is highly inefficient and hence takes long with large numbers of snapshots.

[2017-07-20 13:10] redlicha opened #333 "Expose method to inspect descendants of a volume in ObjectRegistry's Python API"
Debugging helper as the `info_volume` call only provides the reverse mapping (the parent of a volume), and only if the child is running.

[2017-08-07 13:06] redlicha opened #335 "`info_volume` call fails for volumes without MDS"
Once a volume has burned through its list of MDSes it will enter a halted state without a metadata store (as expected). In this particular state `info_volume` Python API calls fail to report the volume state however as the attempt to retrieve the metadata store info as part of that call raises an exception:
[code]
`list_halted_volumes` will report volumes in this state:
[code]

[2017-08-09 07:50] redlicha opened #336 "Improve error handling of backend requests"
The following modifications are suggested:

* connection errors need to be signalled not only when creating a connection but also during request processing
* drop the complete connection pool on connection errors in addition to the existing blacklisting
allow switching to a different pool on other errors
* consider switching to a different pool during retry (configurable?)

[2017-08-09 09:31] redlicha commented on #336
The following modifications are suggested:
* connection errors need to be signalled not only when creating a connection but also during request processing
* drop the complete connection pool on connection errors in addition to the existing blacklisting
* allow switching to a different pool on other errors

[2017-08-09 12:27] redlicha commented on #336
Logging shows that on failure to create a new connection error handling does not kick in as expected:

[code]

[2017-08-10 11:39] redlicha commented on #336
Testing specifically for the fix "BackendInterface: retry after exceptions during connection creation" ( f527886 ) :

[code]

[2017-08-10 13:16] redlicha commented on #215
Related: #337

[2017-08-11 12:36] redlicha commented on #336
Validation of the latest version:
[code]

[2017-08-16 08:41] hoanhdo opened #338 "clone vdisk or vtemplate from other vpool"
Hi all.

How i can clone vdisk or vtemplate from one pool to other pool.
I have one pool contain all image, so i want clone vdisk to other vpool.

Thanks.

[2017-08-17 15:11] wimpers commented on #338
Hi @hoanhdo ,

cloning between vPools is not possible as vPools can be on separate backends. The easiest way is to copy the .raw files from one vPool to another or use storage vMotion or something similar.

[2017-08-17 15:11] #338 closed

[2017-08-18 11:51] redlicha opened #339 "Make MDS reconfiguration of a volume more flexible"
Allow specifying the max number of tlogs (or a timeout?) the caller is willing to wait.

[2017-08-18 13:06] wimpers commented on #330
@hoanhdo

I'm wondering if the issue is that the image virtual size is larger than then volume size.

Can you execute for the vdi `qemu-img info` and check the virtual size? In that case as workaroudn create a volume with a size bigger than the virtual size of the image.

[2017-08-19 02:41] hoanhdo commented on #330
@wimpers
Thanks. I will try.

[2017-08-23 08:29] redlicha commented on #329
Test: `volumedriver_test`, `LocalRestartTest.partial_first_snapshot_with_mdstore_running_behind`

[2017-08-23 12:36] redlicha opened #341 "Switch proxy in case of non-connection related errors as well"
Contrary to connection errors, there shall be no blacklisting of the old proxy.

[2017-08-23 12:58] redlicha commented on #339
A change of the default value of `volume_manager/metadata_mds_slave_max_tlogs_behind` to `50` was requested.

[2017-08-23 13:04] redlicha commented on #339
To be verified: manual recovery after a rejected failover, especially in light of #335

[2017-08-23 13:45] redlicha commented on #335
Test: `volumedriver_fs_test`, `PythonClientTest.mds_kaputt`.

[2017-08-23 13:45] #335 closed

[2017-08-23 19:16] redlicha commented on #339
Testing brought up the following issues:
* since the `MDSMetaDataStore` is constructed before the `Volume` (and passed in to the ctor of the latter), `getVolume()` cannot be used at this stage
* there are code paths originating from `SnapshotManagement` entering the `MDSMetaDataStore` and other code paths in the opposite direction where locks can end up being taken in different order -> deadlock

[2017-08-24 10:41] redlicha commented on #339
To be validated (integration test?):
* write to a volume, generating N tlogs, reconfigure volume to use a new MDS slave as master with a `max_tlogs_behind` < N -> should return an error, old master shall still be used, volume still ok
* configure a `max_tlogs_behind` of N for a volume, write to it (generating > N TLogs), force MDS failover to a slave that is more than N TLogs behind -> volume shou

[2017-08-24 14:40] wimpers commented on #333
@redlicha  Am I correct that this one duplicates https://github.com/openvstorage/volumedriver/issues/164

[2017-08-24 14:46] redlicha commented on #333
@wimpers yes, you are.

[2017-08-24 14:46] #333 closed

[2017-08-28 07:41] wimpers commented on #208
After discussion with @redlicha closing this down.
* We haven't seen the issue in the field anymore.
* No better idea for the timeout value. The right way to close voldrv down is by first moving away the vols and next do a clean shut down.

Re-open in case we see it again or if we have a better timeout.

[2017-08-28 07:41] #208 closed

[2017-08-28 08:37] redlicha commented on #339
Testing reconfiguration:
* create a volume configured with a single MDS, write to it -> 5 TLogs in backend:
[code]
* try to reconfigure to a new MDS with a limit of max 2 TLogs:
[code]
2017-08-28 10:31:35 140695 +0200 - blackadder - 14097/0x00007fb0367fc700 - volumedriverfs/XMLRPCRedirectWrapper - 0000000000000c0c - info - execute: Arguments for updateMetaDataBackendConfig are {[metadat
a_backend_

[2017-08-28 09:09] redlicha commented on #339
Testing limiting during failover:

* configure a master + a slave on a volume with multiple TLogs
[code]
NOTE: at this point the slave does not exist yet!
* inject an error on the master by demoting it to the slave role:
[code]
* write to it, eventually an I/O error will be reported and the volume is halted:
[code]
volumedriver log:
[code]

[2017-08-28 09:13] redlicha commented on #339
Manual testing shows expected behaviour.

[2017-08-28 09:16] redlicha commented on #339
Accidentally closed - integration test still TBD by QA.

[2017-08-28 14:14] redlicha commented on #275
Inspection of the gdb log / core dump shows  a number of threads waiting for a condition variable internal to RocksDB (one of the threads being the main thread trying to restart a volume). At the same time the expected internal RocksDB threads (`rocksdb:bgX`) are *not* present - reason is unclear and the attached volumedriver logindicates dropped (rate-limited?) messages (seq num jumps from 0x301

[2017-08-28 14:17] wimpers commented on #275
See comment from @redlicha , please re-open if we can reproduce or if we have more evidence.

[2017-08-28 14:17] #275 closed

[2017-08-29 09:31] wimpers commented on #298
Closed by PM.

[2017-08-29 09:31] #298 closed

[2017-08-29 09:31] wimpers commented on #290
Closed by PM.

[2017-08-29 09:31] #290 closed

[2017-08-29 09:31] wimpers commented on #286
Closed by PM.

[2017-08-29 09:31] #286 closed

[2017-08-29 09:32] wimpers commented on #266
Closed by PM.

[2017-08-29 09:32] #266 closed

[2017-08-29 09:32] wimpers commented on #213
Closed by PM.

[2017-08-29 09:32] #213 closed

[2017-08-29 09:33] wimpers commented on #274
Closed by PM.

[2017-08-29 09:33] #274 closed

[2017-08-29 09:33] wimpers commented on #215
Closed by PM.

[2017-08-29 09:33] #215 closed

[2017-08-29 13:31] redlicha commented on #318
`SCOCacheTest.remove_disabled_namespace_size_accounting` exposes a possible cause:
* voldrv instance A has a non-empty SCO cache namespace N
* N is running on voldrv instance B
* voldrv instance A is started up
  * the disk space consumed by N is accounted, N is in state `disabled`
  * A investigates whether it should start the volume N -> sees that B is owner and removes the `disabled` SCO cache

[2017-08-29 15:36] redlicha commented on #341
Current proposal: switch on errors other than timeouts.

[2017-08-30 08:23] wimpers commented on #341
As summary for my own information:
* On  **connection** error, we switch to another proxy and blacklist the proxy (  https://github.com/openvstorage/volumedriver/issues/336 )
* On **non-connection errors other than timeouts,** we switch to another proxy but don't blacklist. This is added in this ticket.
* On **timeouts**, we don't switch to another proxy or blacklist.

[2017-08-30 08:27] redlicha commented on #341
On `non-connection` errors `other than timeouts` proxy switching (without blacklisting) was suggested, no switching on timeouts (@saelbrec , please confirm / correct me).

[2017-08-30 13:36] redlicha opened #345 "Clarify "halted" vs. "not restarted" in the documentation"
E.g. https://github.com/openvstorage/volumedriver/blob/f7975093543d0a1f672a1339c91dccfdb37ea25c/docs/restartVolume.md

This describes the recovery procedure for a volume *that failed to restart*, i.e. not a `halted` volume.
Check the docs for more of these.

[2017-09-04 07:52] redlicha opened #346 "MDS TLog limit not forward compatible"
The newly (6.17.x) introduced TLog limit is serialized in a non-forward compatible way which prevents volumes with a new config from starting up on old voldrv instances. IOW volumes can only be moved (including HA) from old to new instances and not from new to old instances.

[2017-09-04 11:45] redlicha opened #347 "Consider using Alba's inline uploads"
https://github.com/openvstorage/alba/blob/master/cpp/include/proxy_sequences.h#L118
* avoid writing temp files for config objects
* allow using remote proxies

for that a download/read counterpart in the proxy client API would be handy (which according to @toolslive exists internally but is not exposed).

[2017-09-04 14:41] wimpers commented on #347
@redlicha  Is there any urgency for this or can we assign this to roadmap?

[2017-09-04 14:54] redlicha commented on #347
There's no urgency for this, roadmap is fine. The ticket was created to raise awareness for alba offering the feature / possible use cases.

[2017-09-04 15:25] wimpers commented on #332
@redlicha might this be related to https://github.com/openvstorage/framework/issues/1747

Can you estimate how long this would take to fix?

[2017-09-05 07:56] redlicha commented on #332
It might be related, depending on the number of snapshots present.
Currently the code
* gets a list of all snapshots by number
* sorts this list
* looks up the snapshot name by number
.

Step 1 and 3 could be merged and depending on the actual implementation step 2 might be superfluous - +/- 2d.
This would however only improve `list_snapshots`. It might be desirable to change the internal represen

[2017-09-05 13:31] #345 closed, assigned to wimpers

[2017-09-05 14:37] JeffreyDevloo opened #349 "Differentiate between real runtimerrors and client timeout errors"
### Problem description
Certain volumedriver calls have a set timeout within the framework but the framework is unable to differentiate between a real problem and a timeout due to the fact that they both raise a runtime errors with an xmlrpc message

I'd suggest raising a timeout exception that the framework can import and check upon

[2017-09-05 16:55] redlicha commented on #349
Differentiation is already possible (but code inspection suggests a bug): if the node does not respond (= not running, or on timeout), a `ClusterNotReachableException` or a `NodeNotReachableException` is raised.
The latter is however not correctly translated from C++ to Python (to be fixed as part of this ticket? Please let me know if you want this) which means it's currently reported as a Runtime

[2017-09-06 15:03] redlicha opened #350 "MDS slave table catchup takes longer than expected"
dry run:
[code]
actual catch up:
[code]

A similar behaviour is observed when reconfiguring the volume to use the slave:
[code]

[2017-09-06 15:11] redlicha commented on #350
Observed consistently for the given volume but not for other volumes on that instance. Complete log set aside on the loghost under redlicha/gh-350.

[2017-09-08 07:11] wimpers opened #351 "Remove arakoon node info from the voldrv config"
Currently the config contains sections like
[code]

if the arakoon node config changes we need to update these sections. Better would be to only store the arakoon cluster id and get the arakoon config from the distributed config mgmt arakoon.

Same goes for `"events_amqp_routing_key": "volumerouter"`

[2017-09-08 07:25] wimpers commented on #330
@hoanhdo,

I will close this one down. Re-open in case the issue isn't fixed by the above suggestion.

[2017-09-08 07:25] #330 closed

[2017-09-08 07:29] wimpers commented on #349
I assume fixing the bug will allow Framework to know it is a timeout in https://github.com/openvstorage/framework/issues/1557 and act accordingly?

[2017-09-08 07:38] redlicha commented on #349
Yes. For now / backward compatibility it might be a good idea to identify connection / timeout issues reported via the "failed to send XMLRPC request" message of a `RuntimeError`.

[2017-09-08 07:49] JeffreyDevloo commented on #349
So all "failed to send" are timeouts? We could work with that but having a cleaner option (like a custom exception) would be better

[2017-09-08 08:00] redlicha commented on #349
Timeouts or a problem contacting the node (differentiation of these requires changes to the library used / using another library). Mind, this is just to work around the bug in the C++ -> Python exception translation / to get the functionality with old volumedriver instances; fixing the exception translation should still be done of course.

[2017-09-08 09:41] redlicha opened #352 "Volume migration times out due to slow volume shutdown"
* source:
[code]

* destination:
[code]

[2017-09-08 11:58] redlicha commented on #352
related code: https://github.com/openvstorage/volumedriver/blob/6.17.1/src/volumedriver/Volume.cpp#L1697-L1717

[2017-09-08 14:07] redlicha commented on #352
Possibly related: #350 , where big gaps in the timestamps during MDS slave catchup are observed?

[2017-09-08 14:39] redlicha opened #353 "Overzealous full MDS slave rebuilds due to absent scrub ID"
[code]

[2017-09-08 14:40] redlicha commented on #353
Related: code to force full rebuild / set scrub ID on initial build was introduced with #310

[2017-09-08 14:53] wimpers commented on #353
@redlicha related to https://github.com/openvstorage/volumedriver/issues/148 ?

[2017-09-09 16:39] redlicha commented on #353
Not related to #148 as it's been observed with volumes that are not clones.

[2017-09-12 12:17] redlicha opened #354 "Support for using multiple proxies in a round robin fashion"

[2017-09-13 09:23] wimpers commented on #97
Back to BAM

[2017-09-13 09:43] wimpers commented on #63
Since Philippe is no longer with us, assigning to @JeffreyDevloo  .

[2017-09-13 13:04] redlicha commented on #346
The problem is caused by using `boost::binary_*archive` with the serialization of `VolumeConfig` and adding new fields to it in locations other than at the end (in this case this happened indirectly via the embedded `MDSMetaDataBackendConfig`).

Since this might come up again with future changes, the serialization should be changed to something that allows more flexibility (`boost::xml_*archive`?)

[2017-09-14 15:24] redlicha opened #356 "Resetting the volume performance counters does not affect the partial read counters"
Code inspection shows that only the `performance_counters` are reset - all other counters (MD / SCO cache hits + misses, partial read counters etc.) are not reset.

[2017-09-20 10:44] redlicha opened #357 "Edge server workqueue does not fully utilize max number of threads"
The number of threads used by the workqueue (WQ) is adjusted dynamically, based on the number of queued requests. Adding more threads happens by doubling the number up to a configurable maximum. Threads are removed again after a while if the number of queued requests is low.
This might lead to less threads being used than configured, e.g. the following was observed:
* max number of threads: 16
* f